[2017-02-14 01:28] leocavalcante opened #1 "Fix DocBlocks without a type"
DocBlock `@return` has no type at https://github.com/leocavalcante/siler/blob/master/src/Http/Response.php

[2017-02-14 04:24] #1 closed

[2017-02-18 17:17] leocavalcante opened #4 "[Insight] Unused use statement should be avoided - in tests/Ratchet/RatchetTest.php, line 7"
**[in tests/Ratchet/RatchetTest.php, line 7](https://github.com/leocavalcante/siler/blob/bfb581d4607f1dd0bce68de39724f84929818c91/tests/Ratchet/RatchetTest.php#L7)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/703f233e-0738-4bf3-9d47-09d3c6de19b0/analyses/50)_

[2017-02-19 13:43] #4 closed

[2017-02-23 02:58] leocavalcante opened #6 "[Insight] Unused use statement should be avoided - in src/Graphql/Graphql.php, line 13"
**[in src/Graphql/Graphql.php, line 13](https://github.com/leocavalcante/siler/blob/e53d6f44a493544a860a581d6056c47dd853d7a9/src/Graphql/Graphql.php#L13)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/703f233e-0738-4bf3-9d47-09d3c6de19b0/analyses/56)_

[2017-02-23 03:06] #6 closed

[2017-03-08 19:21] leocavalcante opened #20 "[Insight] Unused method, property, variable or parameter - in src/Route/Route.php, line 141"
**[in src/Route/Route.php, line 141](https://github.com/leocavalcante/siler/blob/56ab1a3b9e1c5d7827b2c26d0fe5c0ada822e875/src/Route/Route.php#L141)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/703f233e-0738-4bf3-9d47-09d3c6de19b0/analyses/107)_

[2017-03-08 19:24] #20 closed

[2017-03-13 18:17] leocavalcante opened #21 "Implement array flatten"

[2017-03-13 19:46] #21 closed

[2017-03-23 20:41] leocavalcante opened #27 "[Insight] User specific files should not appear in .gitignore - in .gitignore, line 5"
**[in .gitignore, line 5](https://github.com/leocavalcante/siler/blob/6841d6d3790c22cf46f30bd30ec0ca37b090cdb9/.gitignore#L5)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/703f233e-0738-4bf3-9d47-09d3c6de19b0/analyses/131)_

[2017-03-23 20:41] leocavalcante opened #28 "[Insight] Text files should end with a newline character - in .gitignore, line 5"
**[in .gitignore, line 5](https://github.com/leocavalcante/siler/blob/6841d6d3790c22cf46f30bd30ec0ca37b090cdb9/.gitignore#L5)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/703f233e-0738-4bf3-9d47-09d3c6de19b0/analyses/131)_

[2017-03-23 20:46] #27 closed

[2017-03-23 20:46] leocavalcante commented on #28
Closed by #27

[2017-03-23 20:46] #28 closed

[2017-03-28 21:22] leocavalcante opened #32 "Dropping Ratchet Support"
Planning to drop Ratchet support in favor of explicit using [Thruway](https://github.com/voryx/Thruway) instead, which is already simple to use and creating a wrapper to it is unnecessary.

[2017-03-29 15:47] leocavalcante commented on #32
Actually, I'm leaving the current implementation state for simple raw websockets purposes.

[2017-03-29 15:47] #32 closed

[2017-04-06 19:54] leocavalcante opened #35 "[Insight] Text files should end with a newline character - in docs/concepts.md, line 41"
**[in docs/concepts.md, line 41](https://github.com/leocavalcante/siler/blob/e51a2d68e94426c2db4574de80149c3e92724250/docs/concepts.md#L41)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/703f233e-0738-4bf3-9d47-09d3c6de19b0/analyses/169)_

[2017-04-06 23:17] #35 closed

[2017-04-07 06:38] IvanDelsinne opened #36 "Apache virtualhost integration configuration"
For development, the `composer serve` script works well, but for production, it's better to run the PHP server with something like a NGINX server or an Apache server.

I looked a it in the library's source code but didn't find any clue on how to make a valid Apache2 configuration to use the `index.php` entry point file (with for example a code like below).
Could you make an example configuration o

[2017-04-07 07:14] IvanDelsinne commented on #36
As I tried multiple solutions, I finally found one simple that worked.

[code]

[2017-04-07 07:14] #36 closed

[2017-04-07 14:17] leocavalcante commented on #36
Sorry about, glad that you find a solution!

[2017-04-09 17:57] leocavalcante opened #41 "Test Siler\Ratchet\init"
There is no tests for `Siler\Ratchet\init`, weirdly is it passing by Codecov, but not by PHP Unit coverage report.

[2017-04-16 16:14] leocavalcante opened #48 "[Insight] The composer.lock is not up to date. - in composer.lock, line 0"
**[in composer.lock](https://github.com/leocavalcante/siler/blob/9c562c95cee518295816bad6a76a54566c0af50c/composer.lock#L0)**

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/703f233e-0738-4bf3-9d47-09d3c6de19b0/analyses/200)_

[2017-04-16 16:14] leocavalcante opened #49 "[Insight] Text files should end with a newline character - in examples/react-http/baz.twig, line 10"
**[in examples/react-http/baz.twig, line 10](https://github.com/leocavalcante/siler/blob/9c562c95cee518295816bad6a76a54566c0af50c/examples/react-http/baz.twig#L10)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/703f233e-0738-4bf3-9d47-09d3c6de19b0/analyses/200)_

[2017-04-16 16:21] #48 closed

[2017-04-16 16:21] #49 closed

[2017-04-17 00:35] leocavalcante opened #51 "[Insight] Object parameters should be type hinted - in src/Graphql/Graphql.php, line 82"
**[in src/Graphql/Graphql.php, line 82](https://github.com/leocavalcante/siler/blob/a86aee5b3fa64a42a46130d3d8aa39c313673872/src/Graphql/Graphql.php#L82)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/703f233e-0738-4bf3-9d47-09d3c6de19b0/analyses/205)_

[2017-04-17 00:36] #51 closed

[2017-04-21 16:30] #41 closed

[2017-04-23 16:48] leocavalcante opened #59 "[Insight] Unused use statement should be avoided - in src/Graphql/SubscriptionManager.php, line 9"
**[in src/Graphql/SubscriptionManager.php, line 9](https://github.com/leocavalcante/siler/blob/8bfc4cadfee0734f5eefd039cae128a52a3627e3/src/Graphql/SubscriptionManager.php#L9)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/703f233e-0738-4bf3-9d47-09d3c6de19b0/analyses/250)_

[2017-04-23 16:51] #59 closed

[2017-05-15 23:18] leocavalcante opened #62 "Maturation"

[2017-06-19 07:52] MaximSavin opened #64 "Define 404 for incorrect route"
Hello,

Can you help, please...
In case request undefined route - Siler response empty body with 200 code.

But how to define 404 error for incorrect/undefined route?

[2017-06-19 10:49] MaximSavin commented on #64
I found solution with use Siler\Container... can you advised better idea?

[code]

[2017-06-19 17:01] leocavalcante commented on #64
Hi @MaximSavin
You can add a route listener that matches any other case at the bottom of the file where your route live:
[code]
Don't forget that Siler doesn't have an inner breakpoint for routes, so you have to explicit exit the PHP operation:
[code]

[2017-06-19 19:46] MaximSavin commented on #64
Wow, it's look more elegant..

Thanks!

[2017-06-19 19:46] #64 closed

[2017-07-26 09:56] IvanDelsinne commented on #62
In the [Http/Response](https://github.com/leocavalcante/siler/blob/master/src/Http/Response.php#L70) file, there are a few errors in the docstrings, making it hard to debug when using IDEs with support for those docstrings.

For example, the `$content` variable should be an array, since we're JSON-Encoding it right in the call.

That could be an improvement: review and update every docstring.

[2017-07-26 12:21] leocavalcante commented on #62
Thanks for the heads up. I'll check them out before the v1.0

[2017-10-09 12:22] manuelLandreau opened #66 "Unable to get the PUT param"
Hi, either in Siler\Request or Siler\Diactoros it is possible to get the URI param (using Route\resource), I just tried THE PUT verb :  PUT | /users/{id} | update.php
Anyway i did that :

`$id = explode('/', \Siler\Diactoros\request()->getServerParams()['REQUEST_URI'])[2];`

Is there an other possibility ?
Thanx, Great work by the way.

EDIT:
I just figured out :
I put $id = array_get($params, 'id

[2017-10-09 16:50] leocavalcante commented on #66
Hi @manuelLandreau
Glad that you figured it out.
The `$params` variables comes from the router resolution, then its passed as an parameter for the whatever callback is given:
https://github.com/leocavalcante/siler/blob/master/src/Route/Route.php#L87

[2017-10-09 16:50] #66 closed

[2017-10-12 07:51] IvanDelsinne opened #67 "Add raw body storing"
When using siler for a website, and assuming the request is only sent by a form using either `application/x-www-form-urlencoded` or `multipart/form-data`, PHP parses the request body and populates the $_POST variable with parse results.

If it doesn't recognise the Content-Type of the request or if it's incorrectly set, PHP will fail to parse without a warning and will only give an empty $_POST.

[2017-10-12 22:28] leocavalcante commented on #67
Hi @IvanDelsinne,
I didn't followed you. Can you show me some example about reading `php://input` just one time? What you mean by that?

[2017-10-13 07:01] IvanDelsinne commented on #67
I just noticed that it was only prior PHP5.6, so it was a mistake I made to think that it still worked that way. That'll teach me to read and test! (Actually I tested, but on an old PHP server we got at Uni, which is using PHP5.3).

Now I'm wondering... Should I implement it, to keep compatibility with such old versions or just close the issue and just keep this info. in my head ?

[2017-10-13 14:40] leocavalcante commented on #67
Support for 5.5 ended in July 2016. I really don't think we should bother about compatibility with versions bellow 5.6.
And should totally upgrade your server, not only for features, but mainly because security fixes hehe.

[2017-10-13 15:39] IvanDelsinne commented on #67
Understood.

Also my servers are all using PHP7.1.8 and I'm painfully waiting for the PHP7.2 release, the server I was talking about is the server hosting most websites in our university and they use so much old stuff an update (even to PHP5.4) would break most of the website... (it's both sad and scary).

[2017-10-13 15:39] #67 closed

[2017-12-15 09:26] tonydspaniard opened #75 "Implement PSR-15 middlewares"
Hi @leocavalcante,

Is it possible to make use of psr-15 middlewares -https://github.com/middlewares/psr15-middlewares ? If so, can you make a brief example?

Highly interesting framework and concepts. Thanks for sharing.

[2017-12-15 12:36] leocavalcante commented on #75
Hi @tonydspaniard

Sorry, no PSR-15 support out of the box. To get PSR-15 we need to support PSR-7 which fortunately is already supported thanks do zend-diactoros! I could make something at `Diactoros` namespace, what you think?

Maybe for the API: `Diactoros\middleware(<PSR-15 compliant>)`

Suggestions are welcome.

[2017-12-16 12:28] tonydspaniard commented on #75
It would be awesome.

[2017-12-29 19:30] clementbirkle opened #76 "Subscription supervisor?"
I red this  tutorial : https://siler.leocavalcante.com/graphql/subscriptions.html#starting-the-server

It sounds good but you didn't write about some possible problems with the server (exemple : after the server restart). Is it necessary to install a supervisor like http://socketo.me/docs/deploy#supervisor
And if you don't have a possibility to use a supervisor (shared hosting) , is it possible to

[2017-12-29 22:27] arysom commented on #62
There are few (maybe two) examples of using siler as a base framework on github, maybe there is something more out there. Adding them to the docs would help newcomers.

Also I would like to read a word in docs on using JWT lib inside Siler. This could boost interest in using Siler for rest api.

[2017-12-30 00:30] leocavalcante commented on #76
Hi @clementbirkle
Thanks for checking it out. I'l add a disclaimer at "Starting the server" pointing about running long-lived processes.
On shared hosting I think you must count on WHM/CPanel (and similar panels) to manage tools like Supervisord, same as you do with Cronjobs.

[2017-12-30 08:38] IvanDelsinne commented on #62
I think that's a good idea.

I'm still building my personal quickstart template (including logging, jwt and such), so it may be interesting. (Hosted on my Gitlab, once it'll be "stable", I'll link it)

Besides, do you have any problem using it with JWT or is that just a general thought that some people may encounter ?

[2017-12-30 10:07] clementbirkle commented on #76
Hi @leocavalcant,

Thank you for your response. I think it could be great to add this information.

Is it possible with a cron task to check and re-run the task like :

If (! Graphql\subscriptions($schema)->is Running()) {
    exec(php subscriptions.php);
}

[2017-12-30 21:40] arysom commented on #62
I will have some problems when I push my project forward :) For now I've built quick api with siler and laravel's eloquent. The next step will be authentication and authorization. I thought that it's the only thing missing in the docs. So JWT, maybe some middleware example.

[2017-12-30 22:08] IvanDelsinne commented on #62
JWT may be too specific, but middleware could be cleared a bit, even if some issues there and there kinda guides you on how to do it. I may think about writing a bit of doc around that. But that's not really the place to talk about that, so if you want to talk about it, you can drop by by email or something like that.

[2018-01-01 00:57] leocavalcante commented on #76
A think this closes this issue:
https://github.com/leocavalcante/siler/commit/7a3ef3f61f51fee7d2af5a1c9fb04b4df2687de1

About using cron to rerun subscriptions server, I can't add something like that because it would encourage bad practices. And about checking if it running, we cannot rely on how users would run their tasks.

In this case, you should add a pre-script that checks for a running proc

[2018-01-01 00:57] #76 closed

[2018-01-01 00:58] leocavalcante commented on #62
Hi @arysom, can you share your work using Siler?

[2018-01-01 21:20] arysom commented on #62
My work is heavily based on https://github.com/manuelLandreau/siler-product and is not complete/working for now. I've tried to build tool lending library for my local community using siler(phinx for migration, eloquent for models) as a backend, similar to Manuel's work. Only difference that, I've made monolithic app using vuejs template and when it came to authorization, I've stopped, because lack

[2018-01-04 07:58] aalasolutions opened #79 "Fresh Install getting error"
I have installed this in a subfolder and I am getting this error

    Parse error: syntax error, unexpected '(' in /Users/XYZ/Work/htdocs/project/vendor/leocavalcante/siler/src/Functional/Functional.php on line 113

This error comes when I access site like http://localhost/project/

But when I do `composer serve` site works fine over http://localhost:8000/

I have to put this on a shared hosting w

[2018-01-04 08:08] aalasolutions commented on #64
@MaximSavin @leocavalcante

I think we can use, so we dont have to add exit in each function. It will simply check if something is sent to browser then don't send 404 error.

[code]

[2018-01-04 08:35] aalasolutions commented on #79
Hmm okay, I guess issue is with Older version of PHP, I have php 5.5 (guess) in xampp and when I run php from CLI mac runs 7+ version, causing this issue.

[2018-01-04 15:27] leocavalcante commented on #79
Hi @aalasolutions
Sorry, but Siler is 7.1 >=
https://en.wikipedia.org/wiki/PHP#Release_history
Current version and -1 philosophy.
Most hosting systems has already upgraded to at least 7.0, so...

[2018-01-04 15:27] #79 closed

[2018-01-04 15:30] aalasolutions commented on #79
Yeah I understand, 👍

[2018-01-13 09:38] buksy90 opened #80 "GraphQL example"
Hello,

I have followed graphQL example from docs https://siler.leocavalcante.com/graphql/ but it doesnt work to me. When I run GraphiQl  with:

[code]

I get following result:

[code]

I have installed all the dependencies (composer.json).

[code]

There isnt any error in apache/error log.  What could be causing the problem?

[2018-01-13 15:22] leocavalcante commented on #80
Hi @buksy90

Just did a successful installation from scratch following the guide.
![image](https://user-images.githubusercontent.com/183722/34907355-7c2eeec0-f864-11e7-9069-057d1fb49bb4.png)

What GraphiQL app are you using to test? By the error, the query wasn't recognized from the request. Siler will handle `x-www-form-urlencoded` and `json`, are you using a different Content-type?

[2018-01-14 20:17] buksy90 commented on #80
Hello,

Im using ChromeiQL v.1.0 and it looks like the extension sends request with header "Content-Type:application/json". Since you were able to create successful installation, I tried again and got same error. Here's git repository of the test https://github.com/buksy90/grapql_test

Could you please take a look? Im running php 7.0.22.

Thank you in advance :).

[2018-01-15 15:51] leocavalcante commented on #80
@buksy90
I get the error only on the first load because of the initial commit message. But queries are working fine:

![image](https://user-images.githubusercontent.com/183722/34950642-e4748a3e-f9fa-11e7-95e8-e0e028fed6e6.png)

^ running a clone of you project without any modifications, just a `composer install`.

[2018-01-17 15:11] newbie78 opened #81 "when can we expect a release?"
I like your project and approach to design.
when can we expect a release?
it would be good to introduce boilrplate to framework's recommended directory structure (like lumen or so)..

[2018-01-17 15:55] leocavalcante commented on #81
Hi @newbie78
I think we need more proof of work, I get some feedback by e-mail from people using Siler, but isn't enough to consider it battle-tested.
If you think it is worthy to use Siler in you next project, please do and feel free to ask for help and support here in the issues.
Cheers.

[2018-01-17 15:58] leocavalcante commented on #81
Just remembered. @manuelLandreau did some nice work at: https://github.com/manuelLandreau/siler-product

[2018-01-18 14:54] newbie78 commented on #81
thanks for the reply!

good work done @manuelLandreau, but I see in the dependencies json illuminate/support package. that's not good (http://mattallan.org/2016/dont-use-illuminate-support/). now I am trying to transfer one of my pet projects to siler.
I will try to share the results after that.

[2018-01-18 15:52] leocavalcante commented on #81
Awesome, thanks. Looking forward to see your thoughts on Siler.

[2018-01-26 11:17] cintarembo commented on #80
When i try with
`php -S localhost:8000/graphql/api.php` it's works fine

but when i tried use
XAMPP or apache built in OSX

i get same result as @buksy90

![jepretan layar 2018-01-26 pada 18 16 19](https://user-images.githubusercontent.com/24893399/35437460-1125f0cc-02c5-11e8-9f9d-2549775a3950.png)

[2018-01-26 12:22] buksy90 commented on #80
It will be probably something with our apache/php settings. Where does the library read input from ($_GET/$_POST/php://input) ?

[2018-01-26 13:58] cintarembo commented on #80
@buksy90 library read input from php://input .
You can see in `vendor/leocavalcante/src/Graphql/Graphql.php` on the init function

CMIIW

[2018-01-26 14:56] #80 closed

[2018-01-26 15:12] leocavalcante commented on #80
Sorry about that folks.
I was able to reproduce using the php:apache Docker image.
It was about fetching Content-Type from headers as mentioned by @cintarembo on the edit.
Can you refetch dev-master with `composer update` to check if its working now?

I tested the example running on [php:apache](https://hub.docker.com/_/php/) and GraphQL Playground.

Cheers.

[2018-01-27 19:22] buksy90 commented on #80
Great man, it works now :).

Thanks

[2018-02-10 07:50] eghojansu opened #87 "Cache repetitive function result"
Hi, can we make siler cache repetitive function result ?
Example: Http\path always get called when use Route\route.
Imagine if we use Route\files and there is hundreds of file inside the $basePath.

Siler is fast, and I think we can make it faster a bit.  :)

[2018-02-11 03:04] eghojansu commented on #87
Yeah i know that it will break 'pure function' concept if there is cache mechanism on function definition.
May be we can redefine the route function to more simple like this?
[code]

I ran the test without change test code and  test fail only on `Siler\Test\Unit\RoutePsr7Test::testRoute`, because I do not change the other route method (get, post, etc) to accept `$request`.
How do you think?

[2018-02-11 12:17] eghojansu opened #88 "Make siler more tiny"
We can split siler plugins into its own repository. I know it's sound silly to make repo for tiny source code, but it will make dependency more implicit.
As example, if we require twig functionality, we simply require `siler/twig` and composer will do the job to install `twig/twig` too.

[2018-02-11 22:10] leocavalcante commented on #88
Yeah, I thought about that. It should be something from the beginning. For now, I think we could keep them together, isn't that much, not a big deal.

[2018-02-11 22:18] eghojansu commented on #88
Cool, i am creating a sample blog using siler. I'll inform when done, may be this afternoon

[2018-02-11 22:35] leocavalcante commented on #88
Awesome, I'd love to have some feedback about Siler on production-grade projects.

[2018-02-14 13:07] #87 closed

[2018-03-07 19:47] IvanDelsinne opened #94 "Typo on method doc for recommended_locale"
The line [239](https://github.com/leocavalcante/siler/blob/master/src/Http/Request.php#L239) have `$_SESSION['lang]` where it should be `$_SESSION['lang']`.

I'd like to avoid opening a PR just for that, could you correct that typo ?

Also, switching `''` with `""` line [248](https://github.com/leocavalcante/siler/blob/master/src/Http/Request.php#L248), so Github syntax coloration is happy !

[2018-03-07 22:37] leocavalcante commented on #94
There is it.

[2018-03-07 22:37] #94 closed

[2018-03-14 13:14] mitjarobic opened #96 "Support graphql-ws protocol"
Refactoring needed for subscriptions

[2018-03-20 16:47] jokeronaldo opened #98 "Route parameters into controller file, object/method"
**Is  there a way to pass request and params to object/method?**

[code]

**What I want to do:**
[code]
_App\Controllers\Blog.php_
[code]

I mean, there is a way to inject params into method or any other way to access route params inside controller/method function?

**BTW, shining job**  :clap:
Congratz and thank you

[2018-03-20 17:36] leocavalcante commented on #98
Hi @jokeronaldo, thanks and yes, [callables](https://siler.leocavalcante.com/route/callable.html) are called with [regex matches on the path as arguments](https://github.com/leocavalcante/siler/blob/master/src/Route/Route.php#L111), then you can get path parameters as:
[code]
I admit, documentation doesn't make it clear.

But, remember that `['Class', 'method']` notation is valid for static class

[2018-03-20 17:36] #98 closed

[2018-03-22 00:37] #88 closed

[2018-03-22 00:38] leocavalcante commented on #96
@mitjarobic
build is failing because of the static analysis that I'll be fixing right now, but new GraphQL over WebSocket protocol is ready and tests passing.

[2018-03-22 00:38] #96 closed

[2018-03-22 04:12] leocavalcante commented on #81
Here we go!

[2018-03-22 04:12] #81 closed

[2018-03-22 04:13] #62 closed

[2018-03-22 16:53] mitjarobic commented on #96
@leocavalcante  Great! Thank you. Did you test it via graphiql? Can you maybe also update this repo so i can get a working example?

https://github.com/leocavalcante/graphiql-app

[2018-03-22 16:57] leocavalcante commented on #96
Hi @mitjarobic
I tested it over https://github.com/apollographql/apollo-server using `graphiqlExpress`

[2018-03-22 18:21] mitjarobic commented on #96
@leocavalcante It works:) Thank you :)

[2018-04-05 09:23] alietors opened #103 "GraphQL websocket security"
Hi,

I am curious how we can implement authentication when subscribing on GraphQL, with the example, anyone who knows the roomName can subscribe to the websocket endpoint.

[2018-04-05 12:48] leocavalcante commented on #103
Awesome question. GraphQL as-is does not specify any kind of authentication and/or authorization mechanisms (even something like Subscriptions, its a RFC yet), there this is delegated to client/server implementations. Apollo's client and server websocket transports layer agrees on a `connectionParams` payload over connection initialization: https://www.apollographql.com/docs/graphql-subscriptions/

[2018-04-05 12:52] leocavalcante commented on #103
Since Siler lacks of something like hooks to accomplish a similar behavior, I'm will be promoting this issue to a enhancement for `v1.1`. For now the workaround would be allow a connection and restricting data thought filters and/or resolvers.

[2018-04-05 12:53] alietors commented on #103
So, the work around will be send the token as a variable and then validate it like the roomName filter, isn't?

[2018-04-05 12:58] leocavalcante commented on #103
Exactly, you can send user's token as a variable, like `roomName`, then authenticate and authorize it thought filters. Unfortunately, this workaround would not prevent unauthorized users to connect to your server, but allows you to at least restrict your data.

[2018-04-05 12:59] alietors commented on #103
Awesome, thanks!

[2018-07-20 22:29] anken opened #104 "Ressource show.php will be called for /create"
Hello,
In a route resource, the path "`/create`" will also call show.php because it will match "`/{id}`".
You have to either "`exit();`" in create.php, or "`if ("create" == $params['id']) { return; }`" in show.php.
Any idea to make it work without the workarouds ?

[2018-07-23 01:05] leocavalcante commented on #104
Well, sorry about that, it isn't indeed what you would expect, since usually frameworks implements routers+controllers and bla-bla-bla, but from Siler's nature that is the expected behavior and `exit()` or conditions are the proper solutions.

Why is that? This is how you can chain/pipe multiple behavior at you request. Siler is meant to functionally handle each HTTP request as if it is plumbing i

[2018-07-23 01:05] #104 closed

[2018-07-23 20:09] anken commented on #104
Hi, I agree, thanks for your answer.

[2018-08-25 08:02] winyluo opened #105 "Package leocavalcante/siler at version has a PHP requirement incompatible with your PHP version (5.6.27)"
Package leocavalcante/siler at version  has a PHP requirement incompatible
with your PHP version (5.6.27)

how to deal with this error?

[2018-08-25 10:29] IvanDelsinne commented on #105
Not using php 5.6.27.

The problem here is that you're using an old and about-to-be-dead version of PHP, while siler uses a few features from PHP7.0 and PHP7.1, effectively rendering it incompatible with older versions.

On August 25, 2018 10:02:26 AM GMT+02:00, winyluo <notifications@github.com> wrote:

[2018-09-02 14:38] #105 closed

[2018-09-11 23:27] IvanDelsinne opened #106 "Request\json crashes on empty request body"
If someone tries to do a `Siler\Http\Request\json()` when the request body is empty, the json_decode will fail (and return null), and the array type enforcing will fail, thus throwing a TypeError.

An example message is:

[code]

[2018-09-12 01:11] #106 closed

[2018-09-12 01:15] leocavalcante commented on #106
Thanks for reporting!

[2018-09-26 00:59] murunwas opened #107 "POST REST API"
How to POST json data using SILER?

[2018-09-26 02:33] leocavalcante commented on #107
Hi @murunwas
Actually, Siler isn't (nor provides) a HTTP client to make POST requests, for that you should consider something like [Guzzle](http://docs.guzzlephp.org/en/stable/) or [cURL](http://php.net/manual/en/book.curl.php).

On the other hand, if you what to listen for a POST request, you should use `Route\post`, than `Request\json` to extract data from it, like:

[code]

[2018-09-26 09:02] murunwas commented on #107
Thanks alot @leocavalcante
soooooooooooo simple and straight forward... works like a charm

[2018-09-26 11:07] IvanDelsinne commented on #107
You can handle File upload by using the method [`Siler\Http\Request::file`](https://github.com/leocavalcante/siler/blob/master/src/Http/Request.php#L148).

You simply use it by doing

[code]

[2018-09-26 12:48] #107 closed

[2018-10-14 07:16] Sinevia opened #108 "Any route"
Can we have a helper method called any:
[code]

[2018-10-14 10:51] IvanDelsinne commented on #108
What is its purpose ?

No matter the method, the route would be used ?

[2018-10-14 12:06] Sinevia commented on #108
The purpose is if you have POST and GET on single method you dont have to write ['POST','GET']

[2018-10-14 12:11] IvanDelsinne commented on #108
Such a method would also catch `PUT`, `PATCH`, `OPTIONS`, `HEAD`.

Would that be intended ?

Anyways, the helper can be developed in [this file](https://github.com/leocavalcante/siler/blob/master/src/Route/Route.php) if you want to make a pull request.

[2018-10-15 03:00] Sinevia commented on #108
Yes this is the purpose. It should catch all requests that match the specified path.

[2018-10-15 16:54] leocavalcante commented on #108
Added to the roadmap.

Do you folks think we should accept "invalid" verbs? Any verb at all?
Or only those in the HTTP RFC spec?
https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods

[2018-10-15 16:57] IvanDelsinne commented on #108
I feel like accepting "anything" (`/\w+/`) would be the best choice.

As an example, I'll take a case I had.

I was working on a small website for home, and I made several functionalities in command line.

To trigger those functionalities, I decided to change the method to `cli` when it was invoked from command line, which allowed me to have routing for both HTTP and CLI, and to share the same bac

[2018-10-17 18:08] Sinevia commented on #108
@leocavalcante good shout. Though personally I only use "post" and "get" if its "any" we probably should allow any method, and leave the final implementation to the end user as long as its added to the documentation

[2018-10-17 18:12] Sinevia opened #109 "Controller method"
This is another request for enhancement. Basically once the project becomes marginally larger it becomes cumbersome to specify all routes.

As a viable alternative I would suggest a controller method. It would bind the routes to controller methods automatically based on verbs.

Some implementations of the above:
https://github.com/lesichkovm/laravel-advanced-route
https://github.com/mrjgreen/phrou

[2018-10-20 08:08] ndyakov commented on #108
@IvanDelsinne this will have to respond to `DELETED`, `PATCH` , etc... right?

[2018-10-20 10:46] IvanDelsinne commented on #108
A "method catchall" route will have to respond to. Or, you can handle the response to throw an "unsupported method" on a given route.

[2018-10-20 21:44] #109 closed

[2018-10-21 08:58] Sinevia opened #116 "Callable stops execution of router"
Calling a non-static method using the default callable implementation always causes the constructors to be called, which is undesirable. See in the example below even if you call the / route, the execution will be stopped as the constructor in test will be called.

[code]

I would suggest a workaround for calling non-static methods

Route\get('/user', "TestController@page");

[2018-10-21 16:55] leocavalcante commented on #116
Well, actually this isn't a bug. The constructor of `TestController` will always be called, indeed, you're doing it at `[(new TestController), "page"]`, it is not something on the Siler internals... We can't prevent or predict user code inside a lib/framework.

[2018-10-21 17:05] Sinevia commented on #116
I agree it cannot be prevented, this is why I propose a workaround that will work with non-static methods without side effects

[2018-10-21 17:08] Sinevia opened #117 "Relace Lambda Symbol in Filename with ASCII Character"
Some tools do not work well with Unicode characters, and these get translated to "?" (see screenshot). Proposal is to change it to an ASCII character (probably low case L)

![image](https://user-images.githubusercontent.com/3450815/47269906-ef664f80-d55b-11e8-8768-fc8c9f75a2e2.png)

[2018-10-21 22:38] leocavalcante commented on #116
Handling class construction isn't a Siler concern, at least for now, you should look for something like Pimple. Yet you could just wrap it in a Closure:
[code]

[2018-10-22 05:35] Sinevia commented on #116
@leocavalcante this is actually a problem as the documentation says the router can use any callable. In this case it is a problem as it causes code execution that the user will be unaware of. I agree its not a problem with Siler per se, but this is the way this particular callable works. If Siler decides not to address this, this is fine, but the documentation needs to be updated to caveat this ca

[2018-10-22 05:35] Sinevia commented on #116
@leocavalcante this is actually a problem as the documentation says the router can use any callable. In this case it is a problem as it causes code execution that the user will be unaware of. I agree its not a problem with Siler per se, but this is the way this particular callable works. If Siler decides not to address this, this is fine, but the documentation needs to be updated to caveat this ca

[2018-10-22 05:36] Sinevia commented on #116
@leocavalcante this is actually a problem as the documentation says the router can use any callable. In this case it is a problem as it causes code execution that the user will be unaware of. I agree its not a problem with Siler per se, but this is the way this particular callable works. If Siler decides not to address this, this is fine, but the documentation needs to be updated to caveat this ca

[2018-10-22 05:37] Sinevia commented on #116
@leocavalcante this is actually a problem as the documentation says the router can use any callable. In this case it is a problem as it causes code execution that the user will be unaware of. I agree its not a problem with Siler per se, but this is the way this particular callable works. If Siler decides not to address this, this is fine, but the documentation needs to be updated to caveat this ca

[2018-10-22 13:47] #117 closed

[2018-10-22 17:41] leocavalcante commented on #116
NP, I got some buggy behavior from Github too.

[2018-10-23 16:56] #116 closed

[2018-11-09 16:38] leocavalcante opened #118 "Review path resolution, seams not working when script is in root folder"

[2018-11-19 11:21] bilabar opened #119 "GraphQL\GraphQL::execute is deprecated"
PHP Deprecated:  GraphQL\GraphQL::execute is deprecated, use GraphQL::executeQuery()->toArray() as a quick replacement in /var/www/html/siler-graphql/vendor/webonyx/graphql-php/src/GraphQL.php on line 187

Need to change on https://github.com/leocavalcante/siler/blob/master/src/Graphql/Graphql.php#L91
[code]
to
[code]

[2018-11-19 17:16] #119 closed

[2018-11-19 20:09] #118 closed

[2018-11-25 13:41] newbie78 opened #122 "new zend-diactoros without Zend\Diactoros\Response\SapiEmitter"
He's remove them and we have bug in Siler\Diactoros

[2018-11-27 21:06] #122 closed

[2018-12-04 19:09] mnavarrocarter commented on #75
I would love to help with this. I've been wanting to try this library for a while, but unfortunately, middleware is a must for me before I use it. But, here I am!

The only problem is that I have zero functional programming experience. For looking at the code in Diactoros namespace, it looks like it does nothing else than creating new objects. However, middleware requires a middleware chain or pip

[2018-12-04 19:55] leocavalcante commented on #75
We should probably go for zend-stratigility + zend-httphandlerrunner to play around with zend-diactoros.

Desirable API:
[code]

What you think?

State could be handled internally by `Container`, don't worry to be funcional-full...

[2018-12-06 23:30] mnavarrocarter commented on #75
Sorry, I was busy at work today, but all you said sound pretty cool. :)

Question, is Siler's container PSR-11 compliant?

[2018-12-06 23:34] mnavarrocarter commented on #75
Another interesting thing to be able to achieve, is to pass middleware to routes and route groups. This is how is done, "a la Slim":

[code]

Since everything is globally accessible, I don't think it would be super hard. :)

[2018-12-07 15:07] leocavalcante commented on #75
No, actually it's just a Singleton with an Array

I think this 'll composable out-of-the-box, since Siler routes already accept a PSR-7 Request Message as argument. I'll be adding this on the example ;)

[2018-12-07 17:16] leocavalcante commented on #75
@mnavarrocarter, just saw that Slim's Middlewares aren't PSR-15 complaint, am I right? Well, if so, its a +1 for Siler over it 😀  But, Slim's advantage is the onion architecture.

Here is it for Siler, the API, for now, looks like:
[code]

What you think?
@tonydspaniard, any thoughts? Almost a year later... sorry.

PS.: already working: https://github.com/leocavalcante/siler/pull/130/files#diff-c4

[2018-12-07 19:01] #75 closed

[2018-12-07 19:04] leocavalcante commented on #75
https://github.com/leocavalcante/siler/blob/master/docs/http/psrs-middlewares-pipelines.md

[2018-12-21 15:15] newbie78 opened #133 "add zendframework/zend-httphandlerrunner to emit psr-7 responce"
now zendframework/zend-diactoros without emit, but zendframework/zend-httphandlerrunner have it.
it will be great to add emitting psr-7 responce to framework

great job!
thanks

[2018-12-21 15:18] newbie78 commented on #133
we can use it like this:
[code]

[2018-12-21 16:36] #133 closed

[2018-12-21 16:37] leocavalcante commented on #133
@newbie78
Thanks for the headsup, migration was already done, docs and examples were outdated.

[2018-12-21 23:21] newbie78 commented on #133
oh i see. sorry )

[2019-01-06 05:59] alturic commented on #64
I hate to necro this, but *technically* there are caveats with that too. For example:

[code]

In test.php it's a simple `echo "temp";` but you'll see "temp404" in the browser.

[2019-01-07 05:37] aalasolutions commented on #64
@alturic this should be at the end of route, so if nothing is printed to browser only then it should give 404

[2019-01-07 05:45] alturic commented on #64
@aalasolutions Do you mean "at the end of route" as in exactly how I showed it? If so, in test.php I literally had:

[code]

And it output "temp404" to the browser.

I appreciate the simplicity of the package (truly), but going from all of my public-facing pages being in `/public`, to putting them outside of the `/public` directory and into `/pages` and just having `/public/index.php` have the rou

[2019-01-07 06:06] aalasolutions commented on #64
This is my router file

[code]

See how I put that at the end.. it is working fine for me

[2019-01-07 06:07] aalasolutions commented on #64
May be you have output buffering on? for that `ob_get_content` is important

[2019-01-07 15:12] leocavalcante commented on #64
Hi @aalasolutions, hi @MaximSavin,
Latest versions of Siler introduced `Route\stop_propagation()`.

[code]

Only `foo` will be printed. After `stop_propagation()` no other route is matched:
https://github.com/leocavalcante/siler/blob/master/src/Route/Route.php#L113

Tell me if this solve the issue or we can think on something properly ;)

Cheers.

[2019-01-07 15:16] leocavalcante commented on #64
Ah, we also have `Route\match(array)` now. It will stop-on-first:

[code]

[2019-01-07 15:18] leocavalcante commented on #64
P.S.: key difference here: `stop_propagation` is lazy and `match` is eager. `Route\match` will evaluate all routes then return the first-non-null. `Route\stop_propagation` can prevent subsequent routes to be evaluated.

[2019-01-07 15:33] leocavalcante commented on #64
Sorry about the comment spam, but I just thought that you can also mix both:

[code]

On the first path match, the handler is called, then if `Route\stop_propagation()` is called on that handler all other routes will immediately return null without any path ou handler evaluation. Basically a short-circuit.

[2019-01-12 22:07] tomasj opened #139 "Logging - questions"
Everytime I call any Siler endpoint, it got logged to console like this:
`[Sat Jan 12 22:49:53 2019] 127.0.0.1:54408 [200]: /healthCheck`

I'd like to understand where it is comming from, is there any way to turn it off, change formatting or so? Is there an implementation of logging interface somewhere in Siler, can we use it too?

Notes:
1. I'm using `compose serve` to serve.
2. Pls excuse me if

[2019-01-13 09:10] tomasj commented on #139
Ok, that explains why I haven't found any logging-related code in Siler source :-) Thank you!

[2019-01-13 09:11] #139 closed

[2019-01-25 23:17] ErikThiart opened #143 "Package leocavalcante/siler at version has a PHP requirement incompatible with your PHP version (7.0.29)"
Seems it's not compatible with php 7.0

What are the minimum requirements?

[2019-01-26 11:36] ErikThiart commented on #143
Will do, upgraded to php 7.3, worked.
Thanks.

[2019-01-30 00:36] #103 closed

[2019-01-30 22:30] leocavalcante opened #152 "λ"
### More functional abstractions!

- [x] Callable to filter by `is_null` and/or `empty`
- [x] Partial-application

[2019-01-30 23:28] leocavalcante opened #153 "Strings"
#### Functions to perform on String operations

- [x] Slugify
- [x] Cross-platform break-lines

[2019-02-02 00:31] #152 closed

[2019-02-02 00:31] #153 closed

[2019-02-25 03:35] leocavalcante opened #159 "Response type of Swoole\raw could be bool"
Return value of Siler\\Swoole\\raw() must be of the type string, bool returned

[2019-02-25 04:15] leocavalcante opened #160 "Sugar for no content HTTP response on Swoole"

[2019-02-28 01:56] leocavalcante opened #162 "Drop Ratchet Support in favor of Swoole WebSocket server"

[2019-02-28 21:31] leocavalcante opened #163 "Drop Jwt module in favor of firebase/php-jwt"
Which is already very easy to use:
[code]

[2019-02-28 23:22] #159 closed

[2019-02-28 23:23] #160 closed

[2019-02-28 23:28] #162 closed

[2019-02-28 23:28] #163 closed

[2019-03-13 04:21] leocavalcante opened #166 "locale_get_default could be undefined"
If the environment doesn't have `ext-intl`, this function will not exists.
Check for it with `function_exists` and add `/* @phan-suppress-next-line PhanUndeclaredFunction */`.

[2019-03-13 04:22] leocavalcante opened #167 "Fix Twig usage"
There is no `\Twig\Loader\Filesystem`

[2019-03-13 14:24] #166 closed

[2019-03-13 14:24] #167 closed

[2019-03-27 18:15] trentramseyer opened #169 "Quick Question regarding Routes being Found"
If I use a combination of routing procedures and some of them are Resources
Is there a way to tell if a Route was successful or found?
(for ease to show 404 if not)

Example:

If i go to localhost/blog and it loads a resource file i would like to know:

Route\get('/hello/{name}', function (array $routeParams) {
    echo 'Hello '.($routeParams['name'] ?? 'World');
});

Route\resource('/users', 'api

[2019-03-27 21:19] Toastgeraet commented on #169
You can probly use
[code]
did not test it, though...

[2019-03-27 23:11] leocavalcante commented on #169
There is a `route_match` key on the `Container`.
You can:

[code]

But I'll address this properly.

[2019-03-28 02:18] #169 closed

[2019-03-28 02:22] leocavalcante commented on #169
There we go:
https://github.com/leocavalcante/siler/releases/tag/v1.5.2

You can keep your mindset if `did_match()` sugar:
[code]

https://github.com/leocavalcante/siler/blob/master/examples/route-not-found/index.php

[2019-03-30 08:21] ha-ni-cc commented on #169
@leocavalcante Hi~
v1.5.1 upgrade to v1.5.2
Here is new something wrong when I use Siler\Swoole.
``
if (!Route\did_match()) {
        Swoole\emit('Not found', 404);
    }
``
instead of
``
Swoole\emit('Not found', 404);
``
When I first access it  is anything ok, but second and more times try  it was caused wrong, the request is always pending...

[2019-03-30 15:09] leocavalcante commented on #169
Hi @ha-ni-cc
Because of the nature of how Swoole works (it doesn't spawns a new PHP process for each request, it starts just once) you should make your files routes return a function, then Siler is able to re-compute them instead of just require it and expected something to work because it requires only once, but Siler checks if the return value of the require is a callable then stores it to call

[2019-04-01 02:18] ha-ni-cc commented on #169
@leocavalcante Sorry to disturb you again！But I clone the  /example/swoole/ to test, the error still appear:
First  access is okay, second retry it return Not found for me.
I exit the running process, and restart it , first is well , second........
 Could you test it again for the example. Thanks!

[2019-04-01 04:58] leocavalcante commented on #169
@ha-ni-cc
You are right, sorry about that; the last update introduced a bug on Swoole environment, the `Route\DID_MATCH` wasn't being invalidated on new requests.
The v1.5.3 fixes it: https://packagist.org/packages/leocavalcante/siler#v1.5.3

[2019-04-01 05:17] ha-ni-cc commented on #169
@leocavalcante That is all right. Siler is getting better and better.🤞

[2019-04-10 17:10] slifin opened #172 "Suggestions"
https://fsharpforfunandprofit.com/posts/property-based-testing/
http://peridot-php.github.io/
https://github.com/mtdowling/transducers.php

[2019-04-10 17:10] #172 closed

[2019-04-10 21:12] leocavalcante commented on #172
Thank you. Is this related to https://infection.github.io/ ?

[2019-05-14 13:09] yoh opened #174 "Http/path() should not replace all occurence of $scriptPath ?"
Hi !

I think there is a problem on this line :
https://github.com/leocavalcante/siler/blob/83bf76fc00e233f86c3234f0e427484caee5ebc6/src/Http/Http.php#L113

If `$requestUri` is `/aaa` and if I have a route `/aaa/bbb/aaa/ccc`, all `aaa` portion of `$scriptPath` are replaced. I think only the first `aaa` should be replace to get `/bbb/aaa/ccc` ?

[code]

[2019-05-14 14:34] leocavalcante commented on #174
Actually, that is exactly what will happen, only the `/aaa` part will be removed, that is the real path of the script. Are you having bugs with this?

[2019-05-14 16:35] yoh commented on #174
Yes, I have 2 times `/aaa` in my url /**aaa**/bbb/**aaa**/ccc
Only the first `/aaa` (the real part of the script) should be deleted to get `/bbb/aaa/ccc` ?

http://sandbox.onlinephpfunctions.com/code/579a3e12525423c71de444e63276d30de684fe96

[2019-05-14 16:40] leocavalcante commented on #174
Oh, I see now. Thank you for reporting! Will you PR a fix or I can handle it?

[2019-05-19 08:41] yoh commented on #174
Sorry for the delay... You can handle it :)
I don't know enough Siler to know impacts of this.

[2019-05-19 23:46] #174 closed

[2019-06-17 02:33] johnlanz opened #176 "Swoole Coroutine and GraphQL"
How to use GraphQL with Swoole? maybe using ORM that uses mysql Coroutine or redis instead of RedBean.
Sorry for asking I just can't find any tutorial out there.

[2019-06-24 14:05] leocavalcante commented on #176
I can work on an example project or tutorial for that. Thanks for the idea.

[2019-06-26 16:48] hanspagel opened #179 "Don't execute Subscriptions Queries on Init"
thank you very much for the subscriptions implementation! this has blown my mind. 🤯 I'm trying get rid off the node implementation we're running currently and integrate it in our Laravel app. I've got a running proof of concept already. 🤓

One thing I stumbled upon: When I initalize a subscription the servers replies directly. I thought it's a cool feature first, but for a lot of subscriptions I d

[2019-07-06 13:33] IvanBarayev opened #180 "Swoole cached response problem"
Try to make a post to swoole api.

`http://127.0.0.1:9501/get/blog`

posted value
[code]

returned response
[code]

When change the posted value pid=2, api return same result,
[code]

***index.php***
[code]
***blog.php***
[code]

[2019-07-08 18:49] ShaneJMitchell commented on #176
I also am trying to figure out how to use swoole with graphql on siler.
I am stuck with the situation that given a get request to a specified endpoint it works fine, however when doing a post request to a specified endpoint triggering `Graphql\init()` I get no response.  No error is output but no response is returned.

I have tried using calling `Swoole\json(Swoole\response(), 200);` and `return S

[2019-07-09 23:05] leocavalcante commented on #180
Hi @IvanBarayev
You should check the incoming request on the return closure, so every call gets a new refreshed request.

[code]

[2019-07-09 23:05] #180 closed

[2019-07-09 23:24] leocavalcante commented on #176
Hi folks, sorry the lack of time to work on this, but I can already advise you that you should be using `execute` instead of `init`.

[2019-08-09 11:51] bakuuu opened #181 "{"errors":[{"message":"Syntax Error: Unexpected <EOF>" - UTF-8"
Hi,
we have problem with graphql server based on webonyx/graphql-php and siler.
With webonyx/graphql-php everything works fine, but unfortunately, there is no subscriptions.
So, after adding siler,
after request:
'{"query":"query { myUser(id: 1) { name  }}","variables":{},"operationName":null}'
we have error:
{"errors":[{"message":"Syntax Error: Unexpected <EOF>","extensions":{"category":"graphql"

[2019-08-09 15:00] leocavalcante commented on #181
Hi,
Can you share your PHP code please or steps to reproduce the error in a minimal snippet?
Thanks.

[2019-08-09 15:33] leocavalcante commented on #181
Please, upgrade to [v1.6.0](https://packagist.org/packages/leocavalcante/siler#v1.6.0) and check if the error persists.

[2019-08-09 15:33] #181 closed

[2019-08-09 22:11] bakuuu commented on #181
It work's now. Thank You

[2019-08-10 19:40] leocavalcante commented on #176
I think we have it :)
https://medium.com/@leocavalcante/build-a-graphql-api-on-top-of-swoole-5de5d71b6e12
Feel free to ask any questions!

[2019-08-10 19:40] #176 closed

[2019-08-12 04:46] leyume opened #182 "Request\post() return empty array in PUT Method"
Hello,
Thank you for Siler. Neat and Simple

A little issue here.
Request\post() return empty array in PUT Method

[code]

it works for POST but doesn't work for PUT

Please can you help out here or am I doing something wrong

[2019-08-12 14:17] leocavalcante commented on #182
Hi! Thanks for give Siler a shot.
`Request\post()` will indeed work only on `$_POST`.
For a PUT method you should use `Request\input()`
Or you can get the full input using:
- `Request\raw()` to get the full request body as string
- `Request\params()` to get the input already parsed from the URL encoded format.
- `Request\json()` to the get input already decoded from the JSON format.

[2019-08-12 14:17] #182 closed

[2019-08-12 20:08] devalexandre opened #183 "Call to undefined function Siler\Http\Response\header()"
Fatal error: Uncaught Error: Call to undefined function Siler\Http\Response\header() in /Applications/AMPPS/www/graphql/api.php:7 Stack trace: #0 {main} thrown in /Applications/AMPPS/www/graphql/api.php on line 7

[2019-08-12 20:20] leocavalcante commented on #183
Are you sure you have Siler loaded? Can you share this `api.php` code?

[2019-08-12 20:59] devalexandre commented on #183
yes

[code]
i`m do it tutorial  https://siler.leocavalcante.dev/graphql/

[2019-08-12 21:01] leocavalcante commented on #183
And how is you composer.json file?

[2019-08-12 21:02] devalexandre commented on #183
[code]

[2019-08-12 21:06] leocavalcante commented on #183
Yep! Siler is missing! Run:
[code]

[2019-08-12 21:10] devalexandre commented on #183
thanks, have some doc about how use ?

[2019-08-12 21:16] devalexandre commented on #183
now display it

[code]

[2019-08-12 21:22] leocavalcante commented on #183
How is your schema.php and resolvers.php?

[2019-08-12 21:46] devalexandre commented on #183
work thanks :)

[2019-08-12 21:46] #183 closed

[2019-08-12 23:42] leyume commented on #182
Thank you @leocavalcante
```Request\input()``` didn't work, BUT ```Request\params()``` Worked

[2019-08-13 16:38] mnicic opened #184 "Suffix for optional parameters"
Suffix for optional parameters is not working on my side as it is described in the documentation:
[code]

But it's working with (mandatory `/` at the end, ex: http://localhost/hello/):
[code]

Is it type in the doc or something else?

[2019-08-13 16:57] leocavalcante commented on #184
Typo on the docs, thanks for the heads up!

To avoid the need of a trailing slash, add a question mark after it. It is actually pure RegExp, the `{}` thing is replaced by RegExp groups:

[code]

[2019-08-13 16:57] #184 closed

[2019-08-13 18:05] mnicic commented on #184
Yeah, I assumed that RegEx is used here...
Thanks!

[2019-08-19 16:45] nekofar opened #185 "Using custom PromiseAdapter with GraphQL"
I wanted to use [DataLoader](https://github.com/overblog/dataloader-php) for `GraphQL` data fetching and I needed to set it's custom `PromiseAdapter`.

Seems like you are using `GraphQL::executeQuery` which is using builtin adapter. Is this possible for you to use `GraphQL::promiseToExecute` instead of that? Do you have any suggestion?

https://github.com/leocavalcante/siler/blob/3fe82292217701b2a

[2019-08-20 17:59] #185 closed

[2019-08-20 17:59] leocavalcante commented on #185
There we go.
You can use `GraphQL\promise_execute()` now.

If you are using `GraphQL\init()` it only abstracts the `GraphQL\input()` and the `Response\json()` call, so you can just:

[code]

[2019-08-20 19:40] leocavalcante opened #188 "GraphQL Debugging"
https://webonyx.github.io/graphql-php/error-handling/

[2019-08-20 20:30] leocavalcante commented on #179
Sorry not given proper attention to you issue, but I really didn't get it yet. Can you tell me more?

[2019-08-22 14:10] hanspagel commented on #179
Yes! I don't get why it's sending something (empty) initially.

[2019-08-29 21:26] Jemt opened #189 "Nested queries not executed"
Hi,

I need support for nested queries such as:

` init(...) { getSecretInformation { x,y,z } } `

However, none of the resolvers are invoked when using nested queries. This works though:

` init(...) getInformation { x,y,z } `

Unfortunately that is not guaranteed to be executed in the correct order on other platforms ([ref](https://graphql.github.io/graphql-spec/June2018/#sec-Normal-and-Serial-E

[2019-08-30 00:03] leocavalcante commented on #189
Hi @Jemt
Do you mind to make a little project to illustrate what you are trying to achieve?
I didn't get at a first glace...

[2019-08-31 20:23] Jemt commented on #189
Hi @leocavalcante
Thanks, I appreciate your prompt answer.
I realize that what I wrote makes no sense. I must have been really tired. Please disregard this issue.

 - Thanks again :)

[2019-08-31 20:45] leocavalcante commented on #189
Haha, are you sure?
Maybe we can bring some cool new feature to Siler...

[2019-08-31 20:45] #189 closed

[2019-09-01 08:33] Jemt commented on #189
What I wanted was support for authentication without the need to pass credentials via HTTP headers, and at the same time avoid something like passing a token with every request:
`query { persons(token:token) { name, email } }`

What I would prefer was something like the following example, but that won't work since there is no guarantee that fields are resolved in any specific order:
`query { auth(

[2019-09-06 06:35] IvanDelsinne opened #190 "Combine naming and regex in route parameter"
Right now, we either have regex or named parameter in routes.

I think it'd be nice to have both at the same time, but that requires a change in how route parsing is handled.

[2019-09-06 18:32] leocavalcante commented on #190
This should work already.
[code]
[code]
Do you mean something else?

[2019-09-06 18:41] IvanDelsinne commented on #190
Yes, for example, `{name:([0-9]+)}`, basically to have the ability to assign a name to a regex parameter.

[2019-09-06 18:42] leocavalcante commented on #190
Got it.

[2019-09-06 19:22] #190 closed

[2019-09-06 19:24] leocavalcante commented on #190
There we go. At regexfying it checks for matches to {name:something} then grabs 'something' and uses as the regexp of the named group.
https://github.com/leocavalcante/siler/blob/master/src/Route/Route.php#L182

[2019-09-09 18:15] leocavalcante opened #192 "Update Monolog support to version 2.0"
https://github.com/Seldaek/monolog/releases/tag/2.0.0

[2019-09-12 20:49] leocavalcante opened #194 "Test on 7.4 and 8.0"

[2019-09-12 21:06] leocavalcante opened #196 "Docker image with a testing environment"

[2019-09-14 04:52] #194 closed

[2019-09-14 04:52] #196 closed

[2019-09-18 06:48] Lucas286 commented on #179
Hi, I have the same problem. From yours example subscryption resolver looks like:

[code]

Wherever the Publish function is called, which has context $message and it works fine.

However, when the subscription is started by the client, the resolver is called, where there is no argument $message. I think the first time you subscribe, revoler should not be called.

I am currently solving the problem

[2019-09-18 07:06] Lucas286 opened #198 "Custom scalar definition"
Hi, I need define custom scalar, but I don't quite understand how to do it.

schema.graphql

[code]

resolvers.php
[code]

In query, I should get $result passing through the serialize function. But I don't get it. The serialize function is not called. Maybe something is still missing in the code.
Could you help me get it right?

[2019-09-18 15:01] vinyvicente opened #199 "Why needle strict uses ext-mongo to project requirements?"

[2019-09-18 22:46] leocavalcante commented on #199
It is only needed if you want to help developing Siler, its not needed to use Siler. Its needed for development because there is some tests using it.

[2019-09-18 22:46] #199 closed

[2019-09-19 20:56] leocavalcante opened #201 "Sugar for json decoding"
Sugar for JSON decoding defaults to associative array and throw on errors.
This:
[code]
Could be Siler-cooled by:
[code]

[2019-09-19 21:41] leocavalcante commented on #198
I'll bring something to add new type definitions to the AST.

[2019-09-20 21:04] #201 closed

[2019-09-21 01:13] #198 closed

[2019-09-21 01:14] leocavalcante commented on #198
There we go. You will be able to do something like:
[code]

[2019-09-23 00:01] Zend87 opened #205 "Routing Issue"
hi @leocavalcante, I have a problem.

I just learned your framework.

I dont have problem when I test this :
<code>
Route\get('/', function () {
    echo 'Hello Siler';
});
</code>

But when I try this code. I got 404 page.
<code>
Route\get('/test', function () {
    echo 'Hello Siler';
});

</code>

I used apache httpd 2.4.1 and PHP 7.3.9 on my environment.

Is there an error to my code ?
thx bef

[2019-09-23 00:23] leocavalcante commented on #205
Can you share more about your environment, maybe a simple example project? I got this working here...

[2019-09-23 00:40] Zend87 commented on #205
thx @leocavalcante for reply. when I edit my apache configuration

<Directory /var/www/html>
    Options +FollowSymLinks +Multiviews
    AllowOverride All
    Order allow,deny
    Allow from all
</Directory>

the route run correctly. thx very much @leocavalcante

[2019-09-23 00:42] leocavalcante commented on #205
Awesome \o/ keep giving Siler a try, let me know about any issues.
Cheers!

[2019-09-23 00:42] #205 closed

[2019-10-01 16:15] leyume opened #206 "Feature: Dwoodle in Alpine"
Hello @leocavalcante

This really isn't an issue just a feature request and I will be overjoyed if you could help out
The Image size of Dwoodle  - 669MB really large...

Please 🙏, can you help with an alpine version that works with Siler 🚀

Thank you greatly

[2019-10-02 21:33] leocavalcante opened #207 "Cors sugar"

[2019-10-02 22:26] leocavalcante opened #208 "Tag a default Siler image"

[2019-10-03 02:38] #207 closed

[2019-10-03 02:38] #208 closed

[2019-10-10 16:31] agentd00nut commented on #75
https://siler.leocavalcante.dev/psrs-and-middlewares-pipelines

[2019-10-14 15:35] leyume opened #212 "Swoole PHP Warning, http context is unavailable"
Hello,

Still rocking the Siler and Swoole... 🚀

Got some PHP Warnings when using - Swoole\cors();

[code]

Don't know if am doing something wrong or some update required in the ```/app/vendor/leocavalcante/siler/src/Swoole/Swoole.php``` file.
Please a little help here.

Thank you

[2019-10-14 17:06] leocavalcante commented on #212
Hi,
I guess you are using `Siler\Swoole\cors()`, right?
Can you share the piece of code where you call it or send a minimal setup to reproduce the warnings?

[2019-10-14 20:58] leyume commented on #212
Checking through now I see the error (warning) only occurs when I run it in this manner...
I have tried to simplify as much as I can.

So I have three files mainly involved

**index.php**
[code]

**users.php**
[code]

**model/redis.php**

[code]

I hope it's clear enough... Please let me know your thoughts

[2019-10-14 21:01] leyume commented on #212
I don't mean to close the comments... that was an accident 😅

[2019-10-14 21:03] leocavalcante commented on #212
Hm, I'm still unable to reproduce the Warning. Which version of Siler and Swoole are you using?

[2019-10-14 21:09] leyume commented on #212
Siler - 1.6.0
Swoole - 4.4.7

[2019-10-14 21:34] leocavalcante commented on #212
I see what is going on. You are calling `Swoole\Http\Response::header()` (through `Siler\Swoole\cors()`) after a call to `Swoole\Http\Response::end()` (through `Siler\Swoole\json()` @ `Model\Redis::check()`).

That is, you are trying to send headers to a response that was already ended/sent. Are you sure you need to emit/output something at `Model\Redis::check()`?

The key thing is that you are se

[2019-10-14 22:27] leyume commented on #212
Ok
Thank you for your detailed response.

I will re-think and re-order the architecture... And I agree I don't need to emit here ```Model\Redis::check()``` will find a better approach

Thank you again.

[2019-10-14 23:46] leocavalcante commented on #212
Added `Route\cancel()` to make this routing short-circuit more API friendly. You can do fancier things like:
[code]

[2019-10-14 23:47] #212 closed

[2019-10-18 04:32] josephscott opened #214 "Query string problems"
I was trying out Siler and noticed that query strings aren't working.  For example, `/any-route?count=1&me=2` gets converted to `/any-routecount=1&me=2` -- which doesn't match the `any-route` route, so the end result is a 404 ( no route found ).

This seems to be the problem line - https://github.com/leocavalcante/siler/blob/75b98a84d639ef3f43dbd3fd161c2d8013a56ef6/src/Http/Http.php#L107

[2019-10-18 13:41] leocavalcante commented on #214
I have it working here:
[code]
Reproduction attempt at: https://github.com/siler-examples/issue-214

Can you share more details about your code and environment, please?

[2019-10-18 17:07] josephscott commented on #214
Using the same example code you mentioned above I run into the same problem.

Ubuntu 18.04.3 LTS using:
- PHP 7.2
- Nginx 1.14.0

The Nginx config for PHP is fairly basic, and works with other PHP code I've got running ( like WordPress and SlimPHP ):

[code]

[2019-10-18 17:50] leocavalcante commented on #214
Hm, I still have it working with this environment.
[code]
[code]
Can you spot any difference from yours?
https://github.com/siler-examples/issue-214/commit/5b0b7bda4acf04e81da51caedd0240335edd73ce

Maybe you are missing:
[code]
To have all your routes redirected to `index.php`?

[2019-10-18 22:21] josephscott commented on #214
I've been using:

[code]

[2019-10-18 22:57] leocavalcante commented on #214
Thanks, that did it reproduce-able. The thing is that its not about Siler, if you `var_dump(_$GET)` and `var_dump($_SERVER)` you will see that `$_GET` and `$_SERVER['QUERY_STRING']` comes empty. Nginx with that instruction, Nginx isn't properly setting the query string to the CGI interface.
I will see what can be done on Siler-side.

[2019-10-18 23:03] leocavalcante commented on #214
It really seams to be a Nginx+PHP-FPM problem.

https://serverfault.com/questions/685525/nginx-php-fpm-query-parameters-wont-be-passed-to-php
https://stackoverflow.com/questions/12654521/why-is-nginx-is-ignoring-my-query-strings
https://coderwall.com/p/rdl0kq/nginx-php-query-strings
https://kfalck.net/2011/06/19/fix-empty-nginx-fastcgi-query-strings/

[2019-10-19 17:05] josephscott commented on #214
Not sure what is different between me and those other threads, because I get the query vars just fine:

[code]

Then call with `/?count=10&me=2` and I get variables back:

[code]

And from `$_SERVER`:

[code]

As noted originally, I have no problem with this setup on other PHP projects.

I can certainly adjust my config for this, but it seemed odd that it worked fine for other projects but not in

[2019-10-22 02:44] leocavalcante opened #215 "Maybe Monad API"
Add a bind method to the Maybe monad to avoid multi attributions on the user-land. Maybe a return/value method as well.

[2019-10-23 20:36] #215 closed

[2019-10-31 21:28] leocavalcante opened #218 "Implements array_value_first"
Add own `array_value_first()` implementation since it didn't pass in the RFC.

[2019-10-31 23:22] leocavalcante commented on #218
There is already `Functional\head()`.

[2019-10-31 23:22] #218 closed

[2019-11-12 18:49] Jemt opened #221 "Please update composer package (debug mode)"
Hi,

Will the most recent version be pushed to the Composer registry anytime soon?
I manually implemented support for debugging in the GraphQL lib, but realized today that you already did this in the source code here on Github.

It is next to impossible to figure out why things are failing without support for a debug mode - at least without xdebug.

 -- Thanks in advance :-)

[2019-11-12 20:00] leocavalcante commented on #221
Sorry about that, I'm planing a release on the end of November along side with PHP 7.4 and official PHP 7.4 support. Do you mind to use "dev-master" until? I close this issue when I update composer to remind you to switch back to a version constraint.

[2019-11-15 07:37] Jemt commented on #221
No need to apologize. I'm thrilled with the way you made GraphQL so easy to work with. Combined with RedBeans it's just a walk in the park :-)

Please take all the time you need. I was just wondering whether the package on composer would receive regular updates, or if Github was the place to fetch new releases from here on.

Looking forward to the update once it is ready.

 - Thank you :-)

[2019-11-18 19:10] leocavalcante opened #222 "Treat Result as a Monad"
Monad API on the Result object;

[2019-11-19 14:33] #214 closed

[2019-11-19 22:54] leocavalcante opened #223 "Replace WebSocket client support"
GraphQL publish depends on https://github.com/ratchetphp/Pawl to broadcast the websocket server about subscription data updates and this:
- Brings the entire ReactPHP lib (almost)
- Forces an asynchronous API without need
- But mainly: **doesn't work with Swoole co-routines**

We should move to https://github.com/Textalk/websocket-php

[2019-11-20 02:23] #223 closed

[2019-11-20 03:00] #222 closed

[2019-11-21 18:05] leocavalcante opened #226 "Better API for using GraphQL w/ Subscriptions"
A better API for GraphQL's regular HTTP Queries and Mutations with Subscriptions WebSocket so they can share the same Schema, Root value and Context.

[2019-11-21 21:29] #226 closed

[2019-11-23 12:51] #179 closed

[2019-11-26 16:57] Lucas286 opened #231 "Multiple messages at GraphQL Subscriptions"
Hi Leo,
I have testing your new subscription implementation. It works fine, but I noticed that when I have multiple clients subscribed, messages are multiple in each client, depending on the number of subscribed clients. If there is one client, calling the publish function causes receives one message, if there are two clients, calling the publish function receives two identical messages in each cl

[2019-11-26 19:32] leocavalcante commented on #231
Hi Lucas,
The subscription implementation you are using is from Swoole or Ratchet?
If Swoole, you are using more than one worker?
Thanks!

[2019-11-26 20:06] Lucas286 commented on #231
I'm using subscriptions from Swoole, source from dev-master.
Code of subscriptions:
[code]

schema definition:
[code]

publish script:
[code]

resolver:
[code]

[2019-11-28 00:15] leocavalcante commented on #231
Reproducible https://github.com/siler-examples/issue-231

[2019-11-28 02:10] #231 closed

[2019-11-28 16:38] Lucas286 commented on #231
Great, thanks !

[2019-11-29 18:33] leocavalcante opened #233 "Trailing separator"
Concat should only add a separator with the right hand side isn't empty.

[2019-11-30 05:14] leocavalcante opened #235 "Lazy call"
Implement a lazily evaluated version of `call_user_func`.

[2019-11-30 15:08] leocavalcante commented on #221
There we go!
https://packagist.org/packages/leocavalcante/siler#1.7.0

[2019-11-30 15:08] #221 closed

[2019-12-03 18:38] Jemt commented on #221
Thanks a lot! :-)

[2019-12-06 22:38] leocavalcante opened #236 "Env API"
Improve the Env API and mark current as deprecated.

[2019-12-08 16:53] #233 closed

[2019-12-08 17:16] #235 closed

[2019-12-10 22:44] leocavalcante opened #240 "Swoole redirect sugar"
Add a sugar for HTTP redirects on Swoole like in CGI.

[2019-12-10 22:55] leocavalcante opened #241 "Swoole & middlewares"
Some nice way to work with middlewares in Swoole, even if they don't adhere to PSR-15.

[2019-12-11 19:32] leocavalcante commented on #240
Close by https://github.com/leocavalcante/siler/commit/7ac67402e40775cc1180cbd7a2cac3cb07aff48d

[2019-12-11 19:32] #240 closed

[2019-12-11 21:03] #236 closed

[2019-12-12 20:21] leocavalcante opened #244 "Allow trigger compose without arguments"
The result of `compose` is a  `Closure` with a mandatory argument. It should be possibly dynamic.

[2019-12-12 20:38] leocavalcante opened #245 "Mapping Iterables"
Consider adding an `iterator_map` or a generic `map` that loops `array|Iterable|Traversable`,

[2019-12-12 22:42] #241 closed

[2019-12-13 00:41] #245 closed

[2019-12-13 01:29] #244 closed

[2019-12-17 17:43] leocavalcante opened #249 "Lazy join"
Add lazy join function.

[2019-12-17 18:22] #249 closed

[2019-12-17 20:12] leocavalcante opened #250 "array_filter that don't preserve keys"
An array_filter version that does not preserve the keys quando maybe a lazy version of it as well.

[2019-12-17 20:41] #250 closed

[2020-01-23 05:41] alturic opened #252 "Route methods don't seem to work?"
Using siler 1.7.1 on php 7.4, nginx/php-fpm.

[code]

Sending GET or POST (didn't try others) to /hello/ both returned an echo that I have in test.php. Changing it to `Route\post('/hello/', 'test.php');` didn't allow a GET or POST request and kept throwing the Not found text.

Am I missing something? :(

[2020-01-23 18:01] leocavalcante commented on #252
Hi @alturic
I have it working:

![siler-issue252](https://user-images.githubusercontent.com/183722/73010365-1364b080-3df1-11ea-8824-88b3d6243ec8.gif)

Can you share more details about your environment or spot the differences from:
https://github.com/siler-examples/issue-252

[2020-02-03 02:13] leocavalcante opened #253 "Base path"
Add a base path option like in the HTML's `<base>` tag to prefix all routes in an application/global level.
[code]
Remember to trim trailing slashes so `/some-path` and `/some-path/` resolves equally.

[2020-02-03 20:08] leocavalcante opened #254 "Typed array lookups"
Add type-safe array look ups, like:

[code]

Consider to throw an exception if no default is provided and the key don't exists on the array.

[2020-02-04 11:28] newbie78 opened #255 "Route\match looks like it doesn't work correctly"
![image](https://user-images.githubusercontent.com/28735/73740637-983cbc00-4759-11ea-9ffd-ca7f2cf6f3d4.png)

under PHP 7.3.12 commented part work perfectly, but my hoster change php ver to PHP Version 7.3.13. after that, this section was executed slowly (3 min vs 100-200 ms)

after I refactoring this part (see the picture), everything came back to normal

[2020-02-04 13:25] #255 closed

[2020-02-04 13:28] newbie78 commented on #255
it looks like the problem is somewhere in guzzle

[2020-02-04 17:06] leocavalcante commented on #255
Glad you already solved it. Feel free to open or reopen any issues.

[2020-02-04 17:07] leocavalcante commented on #252
Did you solved it? Can I close it or help with any other questions?

[2020-02-04 17:19] alturic commented on #252
Leo, I moved on to fastroute. You can close this issue for now.

[2020-02-04 17:19] #252 closed

[2020-02-21 19:17] #254 closed

[2020-02-21 22:13] #253 closed

[2020-02-22 01:41] jordanbrauer opened #259 "Replace Zend dependencies with Laminas."
Title pretty says it all. I don't think there is any functional difference between the packages – just the rename due to Zend changing it.

[2020-02-22 16:09] #259 closed

[2020-03-05 06:42] jordanbrauer opened #263 "GraphQL schema and client directives"
I am using this library (which has been a pleasure so far) for a project and needing the ability define behaviour for _both_ client and schema (server) directives. Do you have plans for this already? If not, are you willing to add it in/take PRs?

I've done some tinkering in the current GraphQL code to test that it is possible to implement, and it seems to work fine, but was only a PoC for myself.

[2020-03-05 13:30] leocavalcante commented on #263
Thank you very much for bringing this. I'll be working on asap. I think I can fit this like I did for enums recently. Just need to think more about the data flow control, specially the server-directive short-circuit. As I see, they act like middle-ware?

[code]

Do you have some thought about the data flow?

[2020-03-05 15:46] jordanbrauer commented on #263
Yeah, they are pretty much just middleware. It's a little unclear to me how they should exactly work according to the GraphQL spec, _but_ it also could mean it's up to the language/library implementation.

I do kind of like what Lighthouse is doing for server directives. Sticking with the `@auth` directive example, [they seem to have their directives _overwrite_ the field's resolver](https://githu

[2020-03-05 17:35] leocavalcante commented on #263
Got it! Thank you for the research and linking the sources. I think that directives being a high-order function that takes a resolver and returns a new resolver fits very well on Siler.

A pseudo:
[code]
Almost a resolver of resolvers...

What do you think?

[2020-03-05 18:10] jordanbrauer commented on #263
Not a problem at all! This library is super good, and I've enjoyed using it so much over popular frameworks, so providing as much information as possible is the least I can do if I am going to request features.

👌 💯 . I love this, and agree – it does feel quite inline with Siler's existing features.

Can't wait to see it in action!

[2020-03-05 21:25] leocavalcante opened #264 "Array get for array"
Add `array_get_arr`.

[2020-03-05 21:26] leocavalcante opened #265 "Better array get error message"
`Key not found in array and no default was provided.` without trace is a hard to debug error. Maybe adding the key name on the message could be helpful.

[2020-03-07 17:58] leocavalcante commented on #263
With hands-on I had an idea that resolvers starting with at (@) symbol knows it resolves to directives, so we don't need two resolving arrays (`$resolvers` and `$diretives`), it will be all (queries, mutations, subscriptions, scalars, enums and now directives) about a single resolver: https://github.com/leocavalcante/siler/pull/267

[code]

You still can have a dedicated array for directives and u

[2020-03-07 23:09] jordanbrauer commented on #263
Hmm, i think it's a neat idea, but would get ugly/tiresome in large projects with many directives. Since the SDL already uses the `@` symbol to denote a directive, I would say that keeping type resolvers and directive resolvers kept separate somehow would be ideal (so that naming does not collide between the two, which is all the `@` array key prefix convention really seems to do).

That's just my

[2020-03-09 18:03] #264 closed

[2020-03-09 18:03] #265 closed

[2020-03-10 20:28] leocavalcante opened #273 "String cases functions"
- [x] `Str\snake_case`
- [ ] `Str\camel_case`
- [ ] `Str\dash_case`

[2020-03-11 22:22] #273 closed

[2020-03-12 14:39] leocavalcante opened #276 "Subscriptions client not sending GraphQL's WebSocket subprotocol"
I did it now int the `GraphQL\GraphQL` File on line 347

[code]

_Originally posted by @lemonbrain-mk in https://github.com/leocavalcante/siler/pull/224#issuecomment-598195318_

[2020-03-12 14:58] #276 closed

[2020-03-14 04:13] leocavalcante opened #278 "Fix script name when cli-server"
Script name is the same as the request uri em server is cli, this causes a bug on routing.

[2020-03-14 15:47] #278 closed

[2020-03-16 19:27] agentd00nut opened #281 "GraphQL Subscriptions Without Swole return Instantly."
I'm trying to follow

https://siler.leocavalcante.dev/graphql#graphql-subscriptions

My issue is when i issue a gQL query with `subscription` as the type it returns instantly instead of `The result will not be immediate since we are now listening to new messages, not querying them.

Boiled down i have two servers; one running with `php -S 127.0.0.1:8000 index.php` the other with just `php subscrip

[2020-03-16 20:22] leocavalcante commented on #281
Please, make sure you are using the lasted version of Siler, this initial data on subscriptions was fixed at https://github.com/leocavalcante/siler/pull/228

Yes, calling `Siler\GraphQL\subscriptions` is now deprecated since there is a support for subscriptions based on Swoole too; now you have to pass a manager to Ratchet (or Swoole).

[2020-03-17 04:23] #263 closed

[2020-03-17 14:23] agentd00nut commented on #281
Upgraded everything but was getting...

`[Tue Mar 17 09:38:03 2020] PHP Fatal error:  Uncaught Error: Class 'WebSocket\Client' not found in .../vendor/leocavalcante/siler/src/GraphQL/GraphQL.php:348`

Completely removed my `vendor` and `composer` files, re-required everything that i can find that siler says you need for graphQL
[code]

[2020-03-17 14:24] agentd00nut commented on #281
Also now getting
[code]

My index.php is basically the same.

Subscriptions.php changed to
[code]

[2020-03-23 15:05] agentd00nut commented on #281
Ping on this;  Doesn't seem right that even the swoole example (or very close to it) is having this issue.

(Sorry i realize you're the lone dev just not sure where to even look to try and alleviate the issue.)

[2020-04-01 23:06] lemonbrain-mk commented on #281
Here some handy informations:
https://www.swoole.co.uk/article/Build-a-GraphQL-API-on-top-of-Swoole
https://www.swoole.co.uk/docs/get-started/installation

[2020-04-01 23:31] leocavalcante commented on #281
@agentd00nut can you build a small project that reproduces the error? I'm not being able reproduce this to debug, also please share what client you are using to connect to the graphql api.

[2020-04-02 08:30] lemonbrain-mk commented on #281
Ok i found the problem. The problem will be coming from my business domain i think, but i'm not sure. so i normally dont define different types in my resolver i just return a stdClass. but i tried to change this and did definition for every type and gave some doctrine entities back. and this was working perfectly with graphql but not with websockets. for some reason i don't get the same parameters

[2020-04-02 09:43] lemonbrain-mk commented on #281
I know its here the wrong place, but how would you secure the websocket server, is there a jwt possability or does it not make sense?

[2020-04-02 13:25] leocavalcante commented on #281
Sorry about that guys, websocket subprotocol isn't on any release yet, please use `dev-master`.
https://github.com/siler-examples/issue-281

[code]

[2020-04-03 12:38] leocavalcante opened #282 "Monolog module does not comply with PSR-4"
![image](https://user-images.githubusercontent.com/183722/78361424-c2aaca00-758e-11ea-93be-c3bfbed89750.png)

[2020-04-04 13:09] murunwas opened #284 "Error on DotEnv (Class 'Dotenv\Dotenv' not found)"
`/vlucas/phpdotenv` has changed the api from `Dotenv\Dotenv::create(__DIR__);` to `Dotenv\Dotenv::createImmutable(__DIR__);` please  update the `Siler\Dotenv\init` method.

[2020-04-04 15:54] leocavalcante commented on #284
Hi @murunwas
Actually, the `create` is still supported by Dotenv: https://github.com/vlucas/phpdotenv/blob/master/src/Dotenv.php#L62

You got this error because Siler adopts a peer-dependency strategy, so to use Dotenv with Siler you have to require it first, it doesn't comes with Siler out-of-the-box.

But importantly, `Dotenv` will be deprecated you the next 1.8 release and removed from 2.0, you

[2020-04-04 15:54] #284 closed

[2020-04-10 00:20] RicardoSette opened #285 "Add project Siler+Swoole in benchmarker from "Web-Frameworks""
I found a project to benchmark Web Frameworks, want help adding the Siler with Swoole? I believe he will be in the Top 10.

The link: https://github.com/the-benchmarker/web-frameworks

[2020-04-10 13:56] leocavalcante commented on #285
I think you should open a issue an ask this possibility before because of:
https://github.com/the-benchmarker/web-frameworks/pull/1335
and
https://github.com/the-benchmarker/web-frameworks/issues/1502

The author doesn't seems to be open for Swoole related additions, maybe because of https://github.com/the-benchmarker/web-frameworks/issues/1481

[2020-04-10 15:09] RicardoSette commented on #285
There are projects using Swoole, such as: "one" / "Hyperf" / "simps", exemple configure in php/one project:

https://github.com/the-benchmarker/web-frameworks/blob/6983459e42396f869c2031092bfac32d3806ea44/php/one/config.yaml

[code]

Just configure yaml correctly for the Swoole extension to be installed, and running the command to start the Swoole server instead of using nginx+php-fpm.

[2020-04-10 15:21] leocavalcante commented on #285
Oh, how cool. I thought the repo isn't accepting Swoole based applications until the variations thing was resolved/closed.

Tests are just about returning empty strings?

I think we can work on something then.

[2020-04-10 16:59] RicardoSette commented on #285
I added two Siler projects, for PHP-FPM and Swoole.

https://github.com/RicardoSette/web-frameworks/tree/yii2-swoole/php/siler
https://github.com/RicardoSette/web-frameworks/tree/yii2-swoole/php/siler-swoole

The code and settings are simple, but you could revise, if you have something to add or remove to improve performance.

[2020-04-10 17:03] leocavalcante commented on #285
Ok, I'll be sending a PR to your repo with some mods.

[2020-04-10 17:20] RicardoSette commented on #285
This is the project with the highest score in PHP:

https://github.com/the-benchmarker/web-frameworks/tree/master/php/workerman

I was reviewing and I believe that Siler could be run in the same way, without Swoole and without PHP-FPM, do you think that could increase performance?

https://siler.leocavalcante.dev/web-servers

[2020-04-10 20:06] leocavalcante commented on #285
This makes the use of [PHP's built-in web server](https://www.php.net/manual/en/features.commandline.webserver.php) it is not suited for production environments.

[2020-04-15 21:54] ashuradev opened #287 "A Siler skeleton?"
I think it's nice to have a Silver skeleton for projects showing some of its features.

[2020-04-16 00:03] leocavalcante commented on #287
Sure, I think we can keep with https://github.com/leocavalcante/siler-project

[2020-04-16 00:19] #285 closed

[2020-04-16 23:43] #287 closed

[2020-04-19 20:45] lemonbrain-mk opened #288 "Documentation"
Hey,

I did a lot of work for authorization for your project. The first one is to use your project with concrete5 and the second one is to authorize the requests with jwt including the websocket server. This would maybe be a good example package for your documentation, how somebody could include authorization? I know it's not an issue, but i dont know how to reach you :)
https://github.com/lemonbr

[2020-04-19 21:37] leocavalcante commented on #288
No problem at all creating issues to contact me.
How do you think it would fit in the docs? Maybe a `integrations.md` at https://github.com/leocavalcante/siler/tree/master/docs/graphql and talk about Concret5? Can you PR something like that?

[2020-04-20 17:26] lemonbrain-mk opened #289 "Problems with context on subscription"
I create it to remember myself to create a PR. On SubscriptionsManager.php there is a problem with the handleConnectionInit(). When the constructor don't set a context but the connectionInit will do, this will not be set.

[code]

[2020-04-20 18:31] lemonbrain-mk commented on #288
I will do. I'm close to the next level and then i will take time to do so

[2020-04-20 20:06] leocavalcante commented on #288
Great. Thank you!

[2020-04-20 22:27] #289 closed

[2020-04-27 10:39] RicardoSette commented on #285
Hi @leocavalcante,

is there any planning or way to change Swoole settings?

See as an example this project https://github.com/the-benchmarker/web-frameworks/blob/master/php/simps/config/servers.php

Simps is now the first PHP Framework in the benchmarker list and Swoole's start configurations can be one of the differentials.

[2020-04-27 12:12] waghanza commented on #285
Please not that the above results are not, yet, **production-ready**, until https://github.com/the-benchmarker/web-frameworks/pull/2593 is merge :heart:

[2020-04-27 14:25] RicardoSette commented on #285
Yes, I know that, it's more to leave the Siler at full strength for the first test :sunglasses:

[2020-04-27 15:08] leocavalcante commented on #285
Hi @RicardoSette

The `http` function returns a `Swoole\Http\Server`, so instead of:
[code]

You can:
[code]

[2020-04-28 19:02] leocavalcante opened #291 "Close handle"
Close file handle at `csv_to_array`

[2020-04-29 15:26] #291 closed

[2020-05-06 20:59] RicardoSette commented on #285
In PHP projects Siler ranked fourth, but in test above 64 the position would be third 💪🔝

The first and second positions are outside the curve, the first with practically pure Swoole and the second with different uses of POSIX and PCNTL extensions. Then look at these two projects to add more performance to Siler.

Congratulations 😎

[2020-05-06 21:17] leocavalcante commented on #285
@RicardoSette cool! I should inspect and study why Simps performs so much better in Swoole, Siler is practically pure PHP and pure Swoole as well, it only provides facades.
Thanks for bringing this up!

[2020-05-06 22:33] francisfontoura opened #294 "Same type annotated fields"
Hi!

I realize that in GraphQL Annotations approach, Siler doesn't support declare fields with `self` class as its type.

Example:
[code]
Expected SDL:
[code]

Error:
[code]

There is any workaround?

[2020-05-06 22:40] leocavalcante commented on #294
It's a "chicken or the egg" problem, thanks for bringing this. I can't think on any workaround right now, but I'll be addressing this issue ASAP.

[2020-05-07 12:24] francisfontoura opened #295 "Not just annotated @EnumVal are registered as @EnumType values"
Hi!

Not annotated constants in `@EnumType` annotated classes become registered EnumType values as well. If you mix domain logic with GraphQL annotations in simpler applications, this is undesirable.

Example:
[code]

Expected SDL:
[code]

Generated SDL:
[code]

[2020-05-07 13:22] leocavalcante commented on #295
That is a bug. Only annotated symbols should turn into GraphQL specs. Thanks for reporting.

[2020-05-08 02:23] RicardoSette commented on #285
I found the reason why Simps got 175,713 points and Siler-Swoole got 64,343

Siler runs the swoole with Swoole\Http\Server

In tests on my virtual machine, when I run in the settings above I have:

Siler (Swoole\Http\Server) => 4946 req / s

When I put Simps to run with Swoole \ Http \ Server see how it looks:

Siler (Swoole\Http\Server) => 4849 req / s

I didn't find how to run Siler with Swoole\

[2020-05-08 03:12] leocavalcante commented on #285
Awesome! Thank you very much for digging into this.

[2020-05-12 13:34] #282 closed

[2020-05-13 07:30] waghanza commented on #285
@RicardoSette @leocavalcante may I ask for your review when implementation of `siler` is updated ? (or a **minor** version is release, I always use the last **patch**)

[2020-05-13 15:11] leocavalcante commented on #285
@waghanza  sure!

[2020-05-31 19:29] #295 closed

[2020-05-31 19:53] #294 closed

[2020-06-01 04:46] leocavalcante opened #320 "Set name and type to the annotation"
Set a name and a type to the property/field annotation if it doesn't have one.

[2020-06-01 04:49] leocavalcante opened #321 "Suggest listOf for array types"
If the type detector gets a `array` as the field type, suggest using the `listOf` instead to fix the error.

[2020-06-01 05:11] leocavalcante opened #322 "Annotated classes discoverability"
Add the possibility to pass paths to the `annotated` function instead of passing each class name individually. This could be hard and never land because of the type order.

Hint: https://github.com/doctrine/orm/blob/master/lib/Doctrine/ORM/Mapping/Driver/AnnotationDriver.php#L201

[2020-06-02 21:19] leocavalcante commented on #285
@RicardoSette Siler faster than Simps on the latest round: https://github.com/the-benchmarker/web-frameworks/tree/cloudify#results

[2020-06-03 02:17] ilcham opened #323 "Routing Issue if url contain Non-ASCII characters"
I just learned your framework. I found a problem if url contain Non-ASCII characters will return 404 ( blank ). can you help ?

Route\get('/post/{slug}?', <handler>);

жолжаксынов
victon-빅톤-mayday
আড়-ইহ-জ-র-দ-ড়-বছর-র-শ-শ-র-গল-য়-ছ-র

[2020-06-03 02:36] leocavalcante commented on #323
Maybe just a matter of adding a multi-byte string handler to the regexp. I'll try asap.

[2020-06-03 18:52] agentd00nut commented on #281
Sorry for reopening this issue but still having trouble with this...

Using https://github.com/siler-examples/issue-281 ; making no changes to the code at all.

Still having the issue that `subscription` requests resolve immediately.

Running in two consoles (i've also tried port 8000 for the index)
`sudo php -S 0.0.0.0:80 -t .` and in another `php subscriptions.php`

When using [insomnia](https:/

[2020-06-03 19:13] leocavalcante commented on #281
I'll be checking this.

[2020-06-04 14:30] leocavalcante opened #324 "Smarter DateTime scalar"
Make DateTime scalar smarter about date formats and maybe a Date alias.

[2020-06-06 23:43] RicardoSette commented on #285
@leocavalcante updated and returned to the standards of the first test.
If it were possible to configure Siler to work with Swoole\Server then it could be close to or above the Simps.

[2020-06-06 23:59] leocavalcante commented on #285
@RicardoSette yeah, I misread the first published results lol. Do you know a good use case for doing raw sockets naive method and path parsing besides being faster? Maybe in some specific micro-services where you just need the url path to route to something, but on real case scenarios you would need at lead the headers and body...

[2020-06-07 16:40] RicardoSette commented on #285
The sky is the limit, we can have simple internal systems for message alerts where the URL would be the trigger, but we also have more complex IoT systems (mqtt) like those used for arduino.

Of course, the default is HTTP server, but the creation of simplistic servers with only TCP / UDP could be an option for the developer.

[2020-06-11 14:25] ljfreelancer88 opened #325 "Server Sent Events using HTTP Server"
Hi, I checked all the examples here https://github.com/leocavalcante/siler/tree/master/examples but I haven't seen any Server Sent Events using HTTP Server using Siler. Basically, what I want to do is mentioned here https://github.com/swoole/swoole-src/issues/3377. It's a simple PUB/SUB for real-time messaging like chat support and group chat.

Thank you in advance.

[2020-06-11 14:55] leocavalcante commented on #325
Can I ask you: why SSE instead of WebSockets?

[2020-06-11 15:40] ljfreelancer88 commented on #325
Because of the re-reconnect capability if the connection was dropped, it doesn't use the "custom" protocol, I want to take advantage the HTTP/2 & HTTP/3 push server feature.

[2020-06-11 15:55] leocavalcante commented on #325
Ok, well, I haven't my self tried to implement something with SSE, but I will trying when have time. I already warn you that this is low priority, sorry, there are another issues I'd like to close first.

Have you already tried something already? There was errors?

[2020-06-11 15:58] ljfreelancer88 commented on #325
Yes, I've tried it but I've encountered errors. Frustrating because of the Swoole Documentation is not that clear.

[2020-06-11 16:03] ljfreelancer88 commented on #325
Here is my sample code. In PHP(No Swoole), I wrapped with do while loop but I encountered error regarding detached.
[code]

[2020-06-12 00:34] sy-records commented on #325
Wouldn't you be better off using the MQTT service?

[2020-06-12 23:00] ljfreelancer88 opened #326 "Websocket configuration"
Hi, I'm checking websocket example, but I have no clue where to set configuration, example...
[code]
Maybe you should add Websocket in Siler documentation including how to configure :)

`https://github.com/leocavalcante/siler/blob/master/examples/swoole-chat/server.php`

Thank you

[2020-06-12 23:30] leocavalcante commented on #326
[The `websocket` function return is a Swoole `Server`](https://github.com/leocavalcante/siler/blob/master/src/Swoole/Swoole.php#L229), you can move it to a variable a use any Swoole settings.
[code]

[2020-06-12 23:30] #326 closed

[2020-06-18 21:49] ljfreelancer88 opened #328 "Siler Websocket: Send messages to specific client only instead of broadcasting to all"
Hi, how can I send messages to specific client only instead of broadcasting the message to all? This is what I have in mind ```const ws = new WebSocket(`ws://localhost:9502?id=${from}&token=${token}`);```. Get the `id` param when sending the message but I don't the implemention in Siler.

[2020-06-18 22:33] leocavalcante commented on #328
You can use `push()`  then pass the file descriptor as the second argument: https://github.com/leocavalcante/siler/blob/master/src/Swoole/Swoole.php#L233

[2020-06-18 22:33] #328 closed

[2020-06-19 01:04] leocavalcante opened #329 "Use $_ENV global instead of getenv()"
Use the `$_ENV` magic global instead of the `getenv()` function.

[2020-06-19 01:58] leocavalcante opened #330 "Avoid creating an object at fromArray trait"
Avoid creating a new object at `fromArray`, use `ReflectionClass` and `self::class`.

[2020-06-19 22:44] trollboy commented on #329
out of curiousity why is this a bug? The only difference _should_ be case sensitivity?

[2020-06-19 23:05] leocavalcante commented on #329
For projects that loads environments variables from files, like `symfony/dotenv` and `vlucas/phpdotenv`, it only works if populated using `putenv` which is disabled by default because it is not thread safe.

[2020-06-20 20:06] leocavalcante opened #331 "Log predicates"
Create a way to hook predicates to log functions internally, to avoid:
[code]
By a single to call, for example:
[code]
On the `index.php`

Then we can freely make calls to `debug()` without wrapping in `if` statements every time.

[2020-06-21 00:10] #329 closed

[2020-06-21 00:18] #320 closed

[2020-06-21 01:35] #323 closed

[2020-06-21 11:21] #330 closed

[2020-06-21 11:59] #321 closed

[2020-06-21 13:41] #324 closed

[2020-06-21 16:22] #331 closed

[2020-06-21 16:51] leocavalcante commented on #281
How are you adding subscriptions to Insomnia? I think the gap is there: https://github.com/Kong/insomnia/issues/528
That is why it works on WebSocket enabled clients like Altair and Playground.

[2020-06-21 16:51] #281 closed

[2020-06-22 04:17] leocavalcante commented on #322
File order can't be controlled and Types that depends on another Types can't be build before its dependencies.

[2020-06-22 04:17] #322 closed

[2020-06-22 21:35] leocavalcante opened #332 "HTTP Client"
A straightforward API like [`fetch`](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch) to make HTTP calls. Guzzle is still de preferred way for API but sometimes you need just a single, super-simple, call and already have Siler in the project.

[2020-06-24 16:09] agentd00nut commented on #281
Hey really sorry to keep reopening this but even with the graphQL playground the example still fails on subscriptions...

I have both index running and subscriptions running (if i don't then index complains about not being able to connect to its socket server, which makes sense of course)

Requesting the subscription from graphQL Playground gets me
[code]

and looks like
[code]
on the index.php

S

[2020-06-24 16:18] lemonbrain-mk commented on #281
is it maybe possible, that you are missing your endpoint port. i'm using it with apache proxy and it works also with playground https://github.com/lemonbrain-mk/graphql_websocket/wiki/3.-Apache

[2020-06-24 16:54] leocavalcante commented on #281
@agentd00nut I just upgraded `webonyx/graphql-php` to v14, all automated and manual tests I used to do passed. Can you check if it is just missing the port like @lemonbrain-mk suggested?

I'm personally using Altair lately, specially because is the only that supports file uploads. Altair is also clearer about the subscriptions URL (is the third icon on the menu). Make sure you add the WS url with

[2020-06-26 03:03] #332 closed

[2020-06-26 16:43] agentd00nut commented on #281
Okay i finally got it using Altair.

1. It's not clear from the siler documentation that subscription requests need to be directed to the websocket server.   I guess i expected the http server to detect a socket request; see that it had a socket handler & subscriptions defined and redirect to the socket server magically.

2. Insomnia obviously failed to connect to the socket server; but Playground

[2020-06-26 18:13] leocavalcante commented on #281
Check again the websocket URL you provided for Playground. Look, it is missing a *L*, the screenshot says `locahost` instead of `localhost`.

I guess any other GraphQL's server or client will use different endpoints for queries+mutations vs. subscriptions, because they usually works with different transport layers (http vs. websocket), it is not a Siler thing, but I'll try to make it more clear on

[2020-06-26 18:42] leocavalcante opened #340 "Find function"
A `find` functional companion for `map` and `filter`.

Basically `head(filter())`, but, you know, sugars are great to make us not think to much while developing.

A `lfind` (lazy version) is also wounded.

[2020-06-26 18:46] leocavalcante opened #341 "Sort function"
A `sort` function for `map`, `filter`, and `find` companion.

Basically a `usort` that returns a new array instead of doing in-place.

A `lsort` (lazy-version) is wounded.

[2020-06-26 20:58] leocavalcante opened #342 "First function"
A `first` function companion for `map`, `filter`, `find`, `sort` etc.

It will return the first item that satisfies a given predicate function.
Like `head(sort())`

A `lfirst` (lazy version) is wounded.

[2020-06-26 21:00] leocavalcante opened #343 "Collection"
A `Siler\Collection` object that groups `map`, `filter`, `find`, `first` etc in a object-oriented fashion.

[2020-06-27 01:07] #340 closed

[2020-06-27 01:07] #341 closed

[2020-06-27 01:07] #342 closed

[2020-06-27 01:07] #343 closed

[2020-06-29 15:30] agentd00nut commented on #281
Ah you're right;
I got it here, it's still a bit janky through playground because i find i have to create a new workspace thats pointing at `http://localhost:3000` causing it to complain about not being to connect to the host (when it tries to find the schema) but doing a subscription query does work.  ie.

![image](https://user-images.githubusercontent.com/17181495/86025142-de8e0280-b9fb-11ea-823

[2020-06-29 15:54] leocavalcante commented on #281
Actually you don't need to put the websocket address (`http://localhost:3000` nor `ws://localhost:3000`) in the Playground's address bar, you just point where there websocket server is using a `.graphqlconfig` file and you can make subscriptions operations to the regular HTTP endpoint (`http://localhost`).

[2020-06-29 17:48] leocavalcante opened #345 "Environment has variable"
It is missing a function to check if there is a variable on the environment, something like `env_has('THE_VAR')`.
It could be intelligent enought to return a default value if given of `false`.

[2020-06-30 20:46] sergey-solo opened #346 "Missing authorization logic in graphql subscriptions manager?"
I might be missing something, not sure. But it looks like there is a missing puzzle piece. I mean, the method `handle` in the `SubscriptionsManager` class handles four cases:
1. connection init
2. start of subscription
3. data that is passed to subscription
4. stopping subscription

But the method `handleConnectionInit` despite returning message of the `GQL_CONNECTION_ERROR` type(if you throw an e

[2020-06-30 22:18] leocavalcante commented on #346
Yes, thinking on a user-land point-of-view it should close the connection if unauthorized/on exception. I'll check.

[2020-06-30 22:48] sergey-solo commented on #346
I could submit a PR if you want. Within a week or so. Because I need to make it work with auth anyway.

[2020-06-30 22:53] leocavalcante commented on #346
Don't worry then, it was just if you already have something, in this case I'll build one. Thanks!

[2020-06-30 23:49] #345 closed

[2020-07-06 22:06] cmdlucas opened #348 "Incompatibility of some classes with psr-4 autoloading standard"
## Situation

There are a couple of class files and/or namespaces that need to be adjusted in order for composer v2 to be able to autoload them. Already, any version of composer >=1.10.0-RC notifies of a deprecation. Please see the release note [here](https://github.com/composer/composer/releases/tag/1.10.0-RC).

If not fixed now, there will be massive incompatibility issues for anybody with a new

[2020-07-07 00:08] #348 closed

[2020-07-11 21:30] leocavalcante opened #349 "Make JSON_UNESCAPED_UNICODE default"
Add the `JSON_UNESCAPED_UNICODE` option to `Json\decode` function. Everyone should be using Unicode Strings.

[2020-07-12 02:23] #349 closed

[2020-07-13 21:04] ljfreelancer88 opened #351 "Managing assets(css, js, images)"
Hi, I'm checking on this `https://siler.leocavalcante.dev/swoole` documentation but it's not stated on how to manage assets like images, css and js and use it twig template.

[2020-07-13 23:01] #351 closed

[2020-07-31 15:25] gensenio opened #354 "When using url encoded object in query parameters the route is not recognized"
Im using this simple example to reproduce the issue:

[code]
I serve it using php -S localhost:8888 -t .

Calling
http://localhost:8888/test?filters%5Bstate%5D=2
doesn't works anymore in version 1.7.3 (the route is not recognized).
It was working until version 1.7.2.

 http://localhost:8888/test?filters[state]=2
works.

[2020-07-31 16:45] #354 closed

[2020-07-31 16:53] leocavalcante commented on #354
Thank you for reporting!
Fixed at [v1.7.4](https://packagist.org/packages/leocavalcante/siler#v1.7.4)
More details at [siler-examples/issue-354](https://github.com/siler-examples/issue-354)

[2020-07-31 19:24] gensenio commented on #354
This is the fastest bug fix i remember to date!
Thank you!

[2020-08-17 16:19] mhf-ir opened #372 "Named route"
Is named route supported?
https://laravel.com/docs/7.x/routing#named-routes

[2020-08-18 18:43] leocavalcante commented on #372
There is no such feature in the routing module, sorry.

[2020-08-18 18:43] #372 closed

[2020-08-25 22:21] leocavalcante opened #379 "Swoole aware request headers"
`Siler\Http\Request\headers()` isn't aware about Swoole environment.

[2020-08-25 22:23] leocavalcante opened #380 "User agent sugar"
Add sugar for Http request's user agent e.g.: `Siler\Http\Request\user_agent(): string`

[2020-08-25 22:32] leocavalcante opened #381 "Avoid is_null"
Refactor `is_null` by `=== null`.

[2020-08-26 01:25] #381 closed

[2020-08-26 01:32] #380 closed

[2020-08-26 01:45] #379 closed

[2020-09-03 22:43] Lohn opened #399 "How to use Middleware and Swoole?"
I didn't found any examples in the documentation. There is a way to do it?

[2020-09-03 22:55] leocavalcante commented on #399
Unfortunately there is no integration of Swoole and PSR-15, but there is a undocumented feature: https://github.com/leocavalcante/siler/blob/main/tests/Unit/Swoole/SwooleTest.php
Tests aren't clear, but it is just about using `middleware($array_of_callables)`

[2020-09-03 22:55] #399 closed

[2020-09-27 16:38] gskierk opened #419 "GraphQL authorization"
Hello,

What is recommended way to add authorization logic to Siler\GraphQL module? I'm aware of that authentication could be successfully done via route middleware, but the same cannot be done with authorization (or shouldn't... to achieve it anyway, you would have to parse request once more and fetch operation type, operation name and arguments recursively...).

For instance, package `thecodingm

[2020-09-27 16:53] leocavalcante commented on #419
Hi,
Actually, since there is no auth in the GraphQL spec, I haven't thought about a Siler provided solution for that, but we can came up with a solution! :)

On my APIs a use JWT then I add an User or a GuestUser to the GraphQL context then on each resolver I see in if there is a User the Context and if the User has proper roles.

[2020-09-27 18:05] gskierk commented on #419
So your solution is conceptually the same as mine. Repeating permission checking on each resolver doesn't sound good for me, that's why I mentioned GraphQLite solution.

I don't know the source code of Siler good enough, but I would create new server directive `@auth(conditions, message, ...)` and corresponding annotation `@Authorization(conditions, message, ...)` that would add `@auth` directive

[2020-09-28 13:55] gskierk opened #430 "GraphQL annotations - nullable + listOf"
I created my custom input and annotated query argument that way:

[code]
[code]

The result is that I cannot send request with no "order" argument and I would like to use defaults for orderBy and orderDir. Is there any solution for this problem?

[2020-09-28 14:18] leocavalcante commented on #430
Let me check, it seams that `nullable` isn't being applied to lists, only to list elements.

[2020-09-28 23:36] #430 closed

[2020-09-28 23:41] leocavalcante commented on #430
Please, try [v1.7.6](https://packagist.org/packages/leocavalcante/siler#v1.7.6) with:
[code]
And if you want both list and elements inside the list to be nullable, yo can combine :
[code]

[2020-09-28 23:56] gskierk commented on #430
I can confirm that it's working! Good job 🥇

[2020-09-30 23:28] gskierk opened #435 "Parser in Config module"
I just noticed that Siler doesn't allow to specify parser in configuration module, so it's impossible to add for example [TOML](https://github.com/toml-lang/toml) support to your application. This is the source code:

[code]

[2020-10-01 12:23] leocavalcante commented on #435
@gskierk I'll let this to some Hacktoberfest contributor, but tell if you need this with a certain urgency, then I can address this immediately ;)

[2020-10-02 19:22] #435 closed

[2020-10-03 13:52] leocavalcante opened #439 "Add a CONTRIBUTING guide"
Would be nice to have a contributing guide telling what is expected from new issues and pull requests.

[2020-10-03 13:55] hadron43 commented on #439
Hi! I'll take this. Please assign me.

[2020-10-03 13:55] leocavalcante commented on #439
Great

[2020-10-03 13:57] hadron43 commented on #439
Any suggestions or references? Or should I do it on my own, according to my knowledge?

[2020-10-03 14:04] leocavalcante commented on #439
It should be clear that interaction with participants must be friendly, using a non-violent communication.

And for technical considerations it must tell that some tests must be provided for new features and contributions with docs are welcome.

Also, would be nice to have some step-by-step on how to fork and start hacking into Siler :)
There are three main commands: `composer test` for unit testi

[2020-10-03 14:04] leocavalcante commented on #439
And of course, if you have more suggestion to add, it will be awesome.

[2020-10-03 14:06] hadron43 commented on #439
Sure, I'll take care of all that.

[2020-10-03 15:22] hadron43 commented on #439
My hacktoberfest id says:

Please do this, or else this contribution won't be counted for hacktoberfest. I would be really thankful if you do it.

[2020-10-03 15:49] #439 closed

[2020-10-03 15:51] leocavalcante commented on #439
Added the hacktoberfest topic.

[2020-10-05 13:25] gskierk opened #446 "GraphQL subscriptions cannot be setup via annotations"
There is no way to setup subscriptions via annotations, because deannotator doesn't look for `$deannotator->name === "Subscription"`. I'm not sure if this change would be enough, because I cannot make subscriptions work :(.

With "fixed" deannotator and the following definitions I always receive `$message = null`.

[code]

[2020-10-07 01:20] #446 closed

[2020-10-07 01:29] leocavalcante commented on #446
Please try [v1.7.8](https://packagist.org/packages/leocavalcante/siler#v1.7.8). I've also updated the [annotations example](https://github.com/leocavalcante/siler/tree/main/examples/graphql-annotations) to use Subscriptions.

[2020-10-07 01:34] leocavalcante commented on #419
So, following the GraphQL's website recommendations:

Your business logic layer should act as the single source of truth for enforcing business domain rules
Where should you define the actual business logic? Where should you perform validation and authorization checks? The answer: inside a dedicated business logic layer. Your business logic layer should act as the single source of truth for enforc

[2020-10-07 05:26] gskierk commented on #419
Inside standard middlewares I have no direct access to `$root, $args, $context` variables, but middleware specifically for GraphQL would do the job.

[2020-10-07 16:07] gskierk commented on #446
@leocavalcante Yeah, it's working now, thanks! I was getting nulls, because I used GraphQL instead of GraphQL Playground.

[2020-10-11 16:47] gskierk opened #452 "Token processing in Config module"
There is no token processing feature in configuration module that is well-known from Symfony, Laminas, etc. Furthermore, I cannot find any elegant way to add it to the current implementation.

[code]

I can see three potential solutions:
1. Use another dependency that supports token processing.
2. Add some workaround, it means fetch config data, process it and save it somehow again.
3. Use no depe

[2020-10-11 17:12] leocavalcante commented on #452
Hi @gskierk, good discussion here!
One thing I can already respectfully disagree is implementing something in Siler directly, I think we should wrap community implementations, it is more the Siler philosophy.

Doesn't:
[code]
already works?
You just need to make sure that you load env files (if using dotenv files) before `Config\load()`.

I know it will not work in static files like ini, toml, yam

[2020-10-11 17:23] gskierk commented on #452
I meant I'd like to use it in .yaml file. It would be good to be able to store **all** configuration data in Config module, not just part of it.

Unfortunately hassankhan/config doesn't provide this functionality, but laminas/laminas-config does. So maybe is it a reasonable solution?

[2020-10-11 17:32] leocavalcante commented on #452
Using `laminas/laminas-config` instead is good for me! It's already with another Laminas components like Diactoros and Stratagility, HttpHandlerRunner... Would you implement this?

[2020-10-11 17:35] gskierk commented on #452
I could give it a try, please assign me to this issue :).

[2020-10-11 17:37] leocavalcante commented on #452
Thanks!!

[2020-10-12 16:28] #452 closed

[2020-10-13 09:31] gskierk commented on #419
I believe we could add function to register middlewares as callables into container

[code]

and unpack them before

[code]

@leocavalcante What do you think, is this approach looking good? Should this pipeline be executed in `GraphQL\resolvers` function or somewhere else?

[2020-10-20 14:00] leocavalcante opened #465 "Keep code coverage above 90%"

[2020-10-21 13:38] #465 closed

[2020-10-31 18:14] gskierk opened #490 "Paginator object with GraphQL annotations"
Hey, actually I'm just asking for help, but I'm sure it will be very useful to have paginator object in examples.
@leocavalcante Have you coded it before?

- [Pagination | GraphQL](https://graphql.org/learn/pagination/)

[2020-11-04 20:48] gskierk opened #495 "Deannotate interdependent types"
Types put in GraphQL annotations are not being deannotated in the fly, so implementing `many-to-many` association is impossible, because always `TypeA` will require `TypeB` that still wasn't deannotated.

[2020-11-06 22:14] leocavalcante commented on #495
Hm, the lazy evaluation should handle this already, can you send a small snippet that reproduces the error, please?

[2020-11-07 11:25] gskierk commented on #495
[code]

[code]

[code]

[2020-11-21 23:26] gskierk opened #504 "Directive added to FIELD_DEFINITION is not being resolved"
This kind of directive is not being resolved:

[code]

In `GraphQL.php` only directives added to FIELD are taken into account.
[code]

[2020-11-23 19:51] leocavalcante commented on #490
Never had deal with pagination before, but as far I researched, this is something solved by the implementations. I mean, at a library point-of-view we can't know what will be paged.

[2020-11-23 19:51] #490 closed

[2021-01-27 17:33] leocavalcante opened #554 "Route doesn't match with query string paramenters"
When the route have query string parameters like `?foo=bar` it doesn't invokes the listener.

Trying to reproduce it here: https://github.com/siler-examples/issue-554

[2021-01-29 11:31] #554 closed

[2021-02-01 22:23] jordanbrauer opened #555 "PHP 8 support"
Hello! I was just curious if/when you're planning to upgrade to PHP 8? I doubt much has to change, but I tried it out and it seems that the `match` functions will need to be renamed since it is [now a language construct](https://www.php.net/manual/en/control-structures.match.php).

[2021-02-01 22:48] leocavalcante commented on #555
Hi @jordanbrauer
It is already [passing in the CI](https://github.com/leocavalcante/siler/runs/1779458209?check_suite_focus=true)
The `match` issue was addressed here: https://github.com/leocavalcante/siler/commit/69e8118a8100bc2ced829a765c2d52833e3a0add

[2021-02-02 02:42] jordanbrauer commented on #555
Awesome stuff, can't wait! Thanks again for all the great work here.

[2021-02-02 02:42] #555 closed

[2021-02-06 04:23] leyume opened #556 "API returns 'Not Found' after first request"
Hello @leocavalcante
Thank you for Siler.

There's this strange issue with v1.7.9
API returns 'Not Found' after first request with Siler Swoole

This worked fine up to version 1.7.8

---

Simple code to recreate

**index.php**

[code]

Then, **api/get.php**

[code]

Request API more than once. You would see the "Not Found"

[2021-02-24 15:01] charlyschulte commented on #354
i have the same problem, when i call a route with an url encoded javascript string (f5iOhq-XT4uibHCTuuANfC%3AAPA91bFzj682Kr_JcCiBhRHRdODtQftZnPUyntq6gf9oy1So0j5Ry4GFjwHWheJJcZynfKdDo3j4E4YXnoJMEZBif6fw5PInCzL46FGcl8EsZJgzfYJmDCIPNB8nFC5lJhVA8W73_rPY)
i didnt get a route. the problem seems to be the "%3".
would be really nice, if i could use encodeURIComponent ;)

thank you really much

[2021-02-24 16:50] leocavalcante commented on #354
Hi @charlyschulte, can you please open a new issue sharing more details and if possible an example snippet?

[2021-02-24 17:24] charlyschulte commented on #354
yes, no problem

[2021-02-24 17:28] charlyschulte opened #584 "When using url encoded string in query parameters the route is not recognized ( "%3A")"
require_once __DIR__ . '/vendor/autoload.php';
use Siler\Functional as λ; // Just to be cool, don't use non-ASCII identifiers ;)
use Siler\Route;

Route\get('/test', λ\puts('Hello World'));
Calling
/test?filters=f5iOhq-XT%3A4uibHCTuuA
gets no result, so it seems like to route cannot be found.
hope you can reproduce this issue.

[2021-02-24 17:40] leocavalcante commented on #584
It seems ok
![image](https://user-images.githubusercontent.com/183722/109041808-30cc1400-76ae-11eb-88b0-2997ff8333fb.png)

Can you share what you are doing different than:
https://github.com/siler-examples/issue-584

[2021-04-16 14:17] ogfremo commented on #556
I encountered this behavior while following the official documentation.

I added a second emit to verify it.

The first visit returns the route properly, at the second attempt it bypasses all other Routes and triggers the first Swoole\emit it encounters so in my case it returns 'Hello World' rather than 'Not Found'.

index.php:
[code]

pages/home.php
[code]

api/todos.php
[code]

[2021-04-22 14:24] yoh opened #632 "Question about Swoole and Container for parallel requests"
Hi @leocavalcante !
I'm happy with Siler on PHP-FPM and I try to use it with Swoole now :)

I have probably a silly question about the mix of Siler Swoole and the Siler Container :
- `Siler\Container` use singleton with `static ::getInstance()`
- `Siler\Swoole` use `Container\set|get` to store data about Routing/Request/Response
When I add a counter with `Siler\Container\set('count', Siler\Contain

[2021-04-22 15:11] leocavalcante commented on #632
Hi @yoh
Good question BTW, actually I'm not sure how it will behave, never thought about this before.
I will try to make some tests.
Thanks for bringing this up.

[2021-04-22 20:42] yoh commented on #632
Hi @leocavalcante , thanks for the reply !

I use Siler v1.7.8 and Swoole v4.6.5
I made a simple route test (code below) :
- for each incoming requests :
    - create a random key
    - put it on Swoole\request()
    - Swoole coroutine sleep 2s
    - get Swoole\request() again
    - compare randoms

[code]

When I call my route one by one, it's OK :
[code]

When I launch wrk and call my route at t

[2021-05-12 08:43] gotursix opened #651 "Call to undefined function Siler\Route\get()"
I've installed Siler using composer and I am trying to do the default `Hello World` request. I'm getting this error:
Fatal error: Uncaught Error: Call to undefined function Siler\Route\get() in E:\xampp\htdocs\schelettw\app\controllers\GameController.php on line 35

And this is the content of the file that's giving the error

[code]

[2021-05-12 09:28] #651 closed

[2021-05-28 20:43] lookingdown opened #681 "Question Siler Swoole"
Hello,
Thanks for very useful libraries, currently using
Siler\Route;
Siler\Swoole;
Siler\Http\Response;
Siler\Http\Request;

With swoole 4.6.7 for a rest API  and  access controle via JWT (lcobucci/jwt) everything works really great and super efficient.

My question is regarding Swoole\emit ..

I assumed that swoole\emit would exit the execution then and there..

I have this code (parcial):

[cod

[2021-06-03 02:34] jrborbars commented on #556
Exactly same behavior for me. Using fresh installed swoole with pecl and php 7.4, siler from composer.

[2021-06-05 18:54] jrborbars opened #690 "Using Coroutines and swoole Hooks for MySQL PDO queries"
I'm pretty new to Siler, Swoole and corroutines, and I can't see a way to do what is described in this article[1], to use PDO with Swoole Hooks. I'm migrating an App to Siler with Swoole as server and want to minimize changes in the code to speed up the process. This is why I don't care about GraphSQL by now. Can you explain how I can achieve that or provide some working example? And thank you for

[2021-07-09 18:47] mhf-ir opened #716 "Error handler?"
How deal error when error accrued in special route, catch it and response proper data?

[code]

https://www.slimframework.com/docs/v4/middleware/error-handling.html#error-handlingrendering

[2021-07-09 19:36] leocavalcante commented on #716
Sorry, unfortunately there is no error handler mechanism in Siler. You may use https://github.com/filp/whoops

[2021-07-09 19:36] #716 closed

[2021-10-12 12:01] lemonbrain-mk commented on #504
it's not bug but related. do you think its possible to create directives with this API for authorization? https://docs.amplify.aws/cli/graphql-transformer/auth/

[2021-11-05 09:17] glensc opened #805 "Graphql example"
Add curl example how to make query:
- https://github.com/leocavalcante/siler#graphql

I tried to setup that example, and using [graphql-playground](https://github.com/graphql/graphql-playground) I get just error "Failed to fetch schema"

![image](https://user-images.githubusercontent.com/199095/140487232-dbb4d218-94e7-42c1-b7bd-aaa68651c933.png)

[2021-11-05 11:08] leocavalcante commented on #805
You don't need the `.php` in the path. It should be just `/graphql`.

[2021-11-05 11:13] glensc commented on #805
my entry point is `graphql.php`, not `index.php`:
- https://github.com/glensc/eventum/blob/9b1295e70dd97945efadb1b713c9355491cfdad4/htdocs/graphql.php

started with `php -S`:

[code]

[2021-11-05 11:15] glensc commented on #805
So, tested with `/graphql` in `PATH_INFO`, the resonse is empty:

[code]

[2021-11-05 11:20] leocavalcante commented on #805
Try `http://localhost:8012/graphql`

[2021-11-05 14:50] glensc commented on #805
http://localhost:8012/graphql resolves to `htdocs/index.php`, which is a different application in that repository.

[2021-11-14 20:02] trollboy opened #809 "Nested Routes?"
Currently working on something where dynamic nested routes or the ability to prepend would come in awfully handy. Example is:

index.php
`Route\get('/rest', fn() => RestController\Routes() );
`
RestController\Routes.php
[code]

[2021-11-20 20:39] trollboy commented on #805
@glensc that's your problem.  I believe there's two ways to accomplish what you're wanting to do via the paradigms of siler,
Solution 1:
      install siler in `htdocs/graphql`, this is mildly hinky as you may run into issues with the application running in `htdocs/index.php`
 Solution 2:
     take your code from https://github.com/glensc/eventum/blob/9b1295e70dd97945efadb1b713c9355491cfdad4/htdoc

[2021-11-20 20:40] trollboy commented on #805
If it helps, I'm working on something currently where I define my model structure using a custom ORM (sorry, I can't like RedBeans), and then enabling `/rest` and `/graphql` in my `htdocs/graphql`.  Two completely different interfaces to the same data.

[2021-11-21 00:40] glensc commented on #805
@trollboy the issue is not about my problems, but asking for curl graphql example to be put to readme.

[2021-11-21 19:59] trollboy commented on #805
so, I can do that for you now, however I'd recommend some sort of graphql library to do that.  One moment.

[2021-11-21 20:08] trollboy commented on #805
like tons of examples online exist; see https://www.contentful.com/blog/2021/01/14/GraphQL-via-HTTP-in-five-ways/#php

[2021-11-28 02:21] trollboy opened #822 "Built in config?"
Is there a built in config I'm missing? Something to read a .env or config.ini/yaml and avail those settings to the entire application? Should there be?  Seems like low hanging fruit that would be a nice time saver.

[2021-11-28 12:44] leocavalcante commented on #822
Hi!
No, actually Siler does not provide any default settings, it is more like a library than a framework.

[2021-11-29 22:40] trollboy commented on #822
right but it does provide things like graphql integration... I dunno just figured it would be a nice helper function.

[2021-12-01 06:46] trollboy commented on #822
looks like there already is an undocumented one? https://github.com/laminas/laminas-config

[2021-12-01 11:53] leocavalcante commented on #822
https://github.com/leocavalcante/siler/blob/main/src/Config/Config.php uses Laminas Config underneath. Is that what you mean?
I thought it was about providing skeleton config like in frameworks.

[2021-12-08 18:09] factormaarten opened #835 "Adding a resolveType"
In Webonyx you can add a resolve type as seen in: https://webonyx.github.io/graphql-php/type-definitions/unions/
I'm currently resolving my query in this way:

[code]

How can I add a resolve type?

My graphql is like this:
[code]

[2021-12-11 08:39] trollboy commented on #822
oh no, just a standard built in for loading my configs. Might be worth updating the docs to illustrate that functionality.

[2021-12-16 09:06] robertovernina commented on #288
Hi, I got curious about this micro-framework (or library), and I think it's pretty useful. I have just one thing to point out about documentation: it would be useful to specify the minimum PHP requirement in it. I know it's written in `composer.json`, but writing it also into the doc would be useful for many other people. Thanks, and keep up with the good work!

[2021-12-16 12:30] leocavalcante commented on #288
Thanks for the tip @robertovernina

[2022-01-23 01:46] borodean commented on #495
I'm also running into the same issue. I have a more straightforward example:

[code]

[code]

Presents me with the same error:

[2022-01-27 11:29] geri777 opened #876 "How to throw an Exception in the resolver?"
When I throw an exception in the resolver the code execution is not stopped at that point. Obviously Siler uses its own try catch handling around the resolver. What can I do that Siler outputs the Error in the debug output of my GraphQL response? Currently it seems to ignore the Exception.

`throw new Exception('ERROR: This is a test');`

[2022-01-27 11:36] geri777 commented on #876
Sorry, this is not a Siler issue. Seems to be a problem with my code.

[2022-01-27 11:36] #876 closed

[2022-02-11 09:00] razorback21 opened #886 "How to implement Interface and Union"
Hi, I have this schema below. I am wondering how to create a type resolver.

interface Item {
   price: Int
   code: String
}

type Tile implements Item {
   price: Int
   code: String
   size: String
}

type RegularProduct implements Item {
   price: Int
   code: String
   weight: String
}

union = Tile | RegularProduct

[2022-02-11 13:40] razorback21 commented on #886
Thanks. I havent seen there is another way of creating object types. Is it.possible to use both annotation and the simpler one? or merge both?. I have already written alot of types in schema.graphql and it will take alot of work to convert each type to classes. 

Sent from Yahoo Mail on Android

  On Fri, 11 Feb 2022 at 7:42 pm, Leo ***@***.***> wrote:

Hi,
You can use @UnionType annotation then s

[2022-02-11 14:42] leocavalcante commented on #886
Alright, got it. Have you tried to assign a `callable` to the union type like any regular type already?
Something like:

[code]

[code]

[2022-02-12 05:25] razorback21 commented on #886
Yes. I have pretty much the same code except I have no idea what code to create inside $fooBarType = function () {}. Sorry. Can you share a code sample?

Below is my resolver code.

$fooType = function () {
   return [
     'size' => function($root) {
          return  $root['size'];
      }
]
};
$barType = function () {
    return [
     'weight' => function($root) {
          return  $root['weig

[2022-02-12 12:58] leocavalcante commented on #886
I'd usually implement an Union in GraphQL as an Abstract Class in PHP that both types implements.
[code]
There you can have thing that are to both classes. Maybe that it the place for your `Item`.
[code]

[2022-02-13 02:49] leocavalcante commented on #886
I'm afraid that it is currently not possible.

[2022-02-13 04:14] razorback21 opened #887 "GraphQL Annotation for Types Arguments"
Hi, My Query type looks like this `Login (Email: String!, Password: String!): LoginResponse`. I can't find the documentation or samples on how to convert that into annotated version. Help would be much appreciated.

[2022-02-13 04:18] razorback21 commented on #886
Thanks for the help. I will just convert my code to annotated version.

[2022-02-13 04:35] #886 closed

[2022-02-13 04:43] leocavalcante commented on #887
It would be something like:
[code]

[2022-02-13 08:03] razorback21 commented on #887
How do you pass an array of Int types in an annotation?

`@Field(name="ID", type="[Int]", nullable=true), // doesnt work`

[2022-02-13 08:11] razorback21 commented on #887
I have figure it out `@Field(name="IDs", type="Int", listOf="Int", nullable=true),`

[2022-02-13 09:15] razorback21 opened #888 "GraphQL type is declared but its not Identified as valid type"
Hi, I have this error. `Class ProductType does exist but is not a Type. Does it have Annotations and it's added to annotated function array`. What did I miss?

[code]
In my CollectionType I have this resolver

[code]

then in my controller action

[code]

[2022-02-13 13:40] #887 closed

[2022-02-13 13:41] leocavalcante commented on #888
Move `ProductType` to be before `CollectionType`:
[code]

[2022-02-13 13:41] #888 closed

[2022-02-13 13:53] leocavalcante commented on #835
When you use `Siler\GraphQL\schema()`, the second argument is an array of resolvers where the key is the type.

[2022-02-13 13:53] #835 closed